---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import { mkIsCurrentPage } from '../../../utils.ts'
import Button from '@components/Button.astro'

export const getStaticPaths = async () => [
  {
    params: { plan: 'aperitif' },
    props: { title: 'Apéritif', price: '3,9% / Bestellung' },
  },
  {
    params: { plan: 'main-course' },
    props: { title: 'Hauptgang', price: 'CHF 279.- / Betreib / Monat' },
  },
  {
    params: { plan: 'pos' },
    props: { title: 'Mit Kasse', price: 'Auf Anfrage' },
  },
]

const { plan } = Astro.request.params
const { title, price } = Astro.props
const { pathname } = Astro.request.url

const isCurrentPage = mkIsCurrentPage(pathname)
const isDe = isCurrentPage('/de/')
---

<Main>
  <Container size="small">
    <h1>Gaston bestellen</h1>
    <h2>Plan <b>{title}</b></h2>
    <p>
      Vielen Dank für Ihr Interesse an Gaston. Bitte ergänzen Sie die folgenden
      Angaben, damit wir Ihnen einen Test-Zugang zusenden können.
    </p>
    <form
      name="enrol"
      action={isDe ? '/de/offers/success' : '/en/offers/success'}
      method="POST"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
    >
      <p hidden>
        <label htmlFor="bot-field">
          Nicht ausfüllen:{' '}
          <input type="text" name="bot-field" />
        </label>
        <input type="text" name="subject" value="Neue Gaston-Anmeldung" />
        <input type="text" name="plan" value={plan} />
        <input type="text" name="locale" value={isDe ? 'de' : 'en'} />
      </p>
      <p>
        <label htmlFor="name">
          Vorname / Name
          <input
            type="text"
            inputmode="text"
            autocomplete="name"
            name="name"
            required
          />
        </label>
      </p>
      <p>
        <label htmlFor="email">
          Email-Adresse
          <input
            type="email"
            inputmode="email"
            autocomplete="email"
            name="email"
            required
          />
        </label>
      </p>
      <p>
        <label htmlFor="phone">
          Telefonnummer
          <input
            type="tel"
            inputmode="tel"
            autocomplete="tel"
            name="phone"
            required
          />
        </label>
      </p>
      <p>
        <label htmlFor="restaurant">
          Name des Betriebs
          <input type="text" inputmode="text" name="restaurant" required />
        </label>
      </p>
      <p>
        <label htmlFor="website">
          URL ihrer Webseite <small>(optional)</small>
          <input type="text" inputmode="text" autocomplete="url" name="website"
          />
        </label>
      </p>
      <p>
        <label htmlFor="message">
          Bemerkung <small>(optional)</small>
          <textarea name="message"></textarea>
        </label>
      </p>
      <p>
        <label htmlFor="design">
          <input type="checkbox" name="design" />
          Eigenes Design
        </label>
      </p>
      <div class="card">
        <p>
          Gewählter Plan:
          <b>
            <a href=".">{title}</a>
          </b>
        </p>
        <p>
          Kosten nach zwei Monaten: <b>{price}</b>
        </p>
      </div>
      <p style="text-align: right;">
        <Button type="submit">Bestellen</Button>
      </p>
    </form>
  </Container>
</Main>

<style lang="scss">
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    box-sizing: border-box;

    &[type='checkbox'] {
      display: inline;
      width: auto;
      margin-right: 1.5em;
      transform: scale(2) translateX(3px);
    }
  }

  .card {
    padding: 1em 2em;
    background: #eee;
    border-radius: 0.5em;
    p {
      margin: 0.2em 0;
    }
  }
</style>
