---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
---

<Main>
  <Container size="small">
    <h1>Vielen Dank</h1>
    <p>Vielen Dank für Ihre Anfrage.</p>
    <p>
      Wir haben Ihnen ein <b>Email</b> zur Bestätigung gesendet. Falls sie dieses
      nicht sehen, schauen Sie kurz im Spam-Ordner nach.
    </p>
  </Container>
</Main>
