---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'
import Center from '@components/Center.astro'
import Plan from '@components/Plan'
import { currency } from 'src/utils'

const description = 'Wählen Sie das passende Angebot für Ihre Bedürfnisse.'
---

<Main title="Preise und Leistungen" description={description}>
  <Container size="large">
    <h1>Preise und Leistungen</h1>
    <div class="plans-container">
      <div class="plan">
        <h2>Speisekarte</h2>
        <p class="plan-subtitle">
          Sie wollen Gaston als Speisekarte einsetzen.
        </p>
        <ul>
          <li>
            <p>Speisekarte auf dem Handy, Tablet und Ihrer Webseite</p>
          </li>
          <li>
            <p>CMS, um die Speisekarte zu bearbeiten</p>
          </li>
          <li>
            <p>1 Sprache</p>
            <p class="small">Weitere auf Anfrage.</p>
          </li>
          <li>
            <p>1 Speisekarte</p>
            <p class="small">Weitere auf Anfrage.</p>
          </li>
          <li>
            <p>Telefonischer Support zu Bürozeiten</p>
          </li>
        </ul>
        <dl>
          <dt>Monatliche Grundgebühr / Betrieb</dt>
          <dd class="price">Kostenlos</dd>
        </dl>
        <Center>
          <ButtonLink href="menucard/">Speisekarte anfragen</ButtonLink>
        </Center>
      </div>
      <div class="plan" data-recommended="Bestellen & Bezahlen ohne Wartezeit">
        <Plan client:load>
          <>
            <h2>Bestellen, Bezahlen + Speisekarte</h2>
            <p class="plan-subtitle">
              Sie wollen Bestellungen und/oder Zahlungen entgegennehmen.
            </p>
            <ul>
              <li>
                <p>Alle Leistungen der Speisekarte</p>
              </li>
              <li>
                <p>
                  Bestellungen für Inhouse, Take Away und Delivery
                  entgegennehmen
                </p>
              </li>
              <li>
                <p>Zahlung über Gaston möglich</p>
              </li>
              <li>
                <p>Dashboard mit Bestell- und Zahlungsübersicht</p>
              </li>
              <li>
                <p>2 Sprachen</p>
                <p class="small">Weitere auf Anfrage.</p>
              </li>
              <li>
                <p>2 Speisekarten</p>
                <p class="small">
                  Zeit- und ortsabhängig unterschiedliche Angebote und Preise.
                  Weitere auf Anfrage.
                </p>
              </li>
              <li>
                <p>
                  Telefonischer Support 7 Tage die Woche von 08:00 bis 20:00
                </p>
              </li>
            </ul>
          </>
        </Plan>
      </div>

      <div class="plan">
        <h2>Individuell</h2>
        <p class="plan-subtitle">Sie haben individuelle Wünsche.</p>
        <ul>
          <li>
            <p>Umsatz mit Gaston von über {currency.format(100_000)}.-</p>
          </li>
          <li>
            <p>Gaston in mehreren Betrieben</p>
          </li>
          <li>
            <p>Individuelle Leistungen</p>
          </li>
          <li>
            <p>Individueller Support</p>
          </li>
        </ul>
        <p class="price">Auf Anfrage</p>
        <Center>
          <ButtonLink href="individuell/">Individuell anfragen</ButtonLink>
        </Center>
      </div>
    </div>
    <ul class="footnote">
      <li>
        Die Transaktionskosten des Zahlungsproviders (beispielsweise Worldline
        oder Datatrans) fallen zusätzlich an.
      </li>
    </ul>
  </Container>
  <Container size="small">
    <h2>Einzeln dazu erhältliche Leistungen</h2>

    <div class="feature">
      <div class="heading">
        <h3>Gäste per SMS informieren</h3>
      </div>
      <p>
        Sie möchten die Gäste per SMS darüber informieren, dass die Bestellung
        bereit ist (Gäste-Rufsystem / Gäste-Pager).
      </p>
      <p class="price">+ CHF 0.09 <small>/ SMS</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Ihre Domäne/URL</h3>
      </div>
      <p>Gaston ist auf Ihrer Domäne/URL erreichbar.</p>
      <p class="price">+ CHF 29.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Weitere Bon-Drucker</h3>
      </div>
      <p>Bon-Drucker, um die Bestellungen auszudrucken.</p>
      <p class="price">
        + CHF 39.- <small>/ Monat / Ducker</small>
      </p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Unbegrenzt Sprachen</h3>
      </div>
      <p>Ihre Speisekarte ist in mehreren Sprachen verfügbar.</p>
      <p class="price">+ CHF 39.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Unbegrenzt Speisekarten</h3>
      </div>
      <p>
        Ja nach Bestellzeit und -ort können das Angebot oder die Preise
        unterschiedlich sein.
      </p>
      <p>
        Die ist ideal, um die Preise zur Happy-Hour anzupassen, oder um das
        Angebot auf die Küchenöffnungszeiten abzustimmen. Damit ist es auch
        möglich für Inhouse, Take Away und Delivery ein unterschiedliches
        Angebot oder auch unterschiedliche Preise anzubieten.
      </p>

      <p class="price">+ CHF 59.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>White Label</h3>
      </div>
      <p>Es sind keine Hinweise auf das Gaston Label vorhanden.</p>
      <p class="price">+ CHF 99.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Kassenanbindung</h3>
      </div>

      <p>Die Gaston-Bestellungen werden direkt an Ihre Kasse übermittelt.</p>
      <p class="price">+ CHF 159.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>24h Support</h3>
      </div>
      <p>Wir sind bei Störungen täglich 24h für Sie erreichbar.</p>
      <p class="price">+ CHF 199.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Unterstützung beim Einrichten und Einpflegen der Daten</h3>
      </div>
      <p>
        Wir unterstützen Sie bis zu vier Wochen beim Einrichten von Gaston
        telefonisch oder je nach Distanz auch vor Ort.
      </p>
      <p class="price">
        CHF 390.- <small>einmalig</small>
      </p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Individuelles Design</h3>
      </div>
      <p>
        Sie haben spezielle Ansprüche an das Design der Speisekarte. Wir können
        fast alle Wünsche erfüllen.
      </p>
      <p class="price">
        ab CHF 490.- <small>einmalig</small>
      </p>
    </div>

    <div class="feature pos">
      <div class="heading">
        <h3>Klassische Kasse</h3>
      </div>
      <p>
        Haben Sie zusätzlich Bedarf an einer klassischen Kasse? Mit unseren
        Partnern können wir Ihnen ein attraktives Paket anbieten.
      </p>
      <p class="price">
        Nehmen Sie mit uns <a href="/de/kontakt/">Kontakt</a> auf.
      </p>
    </div>
  </Container>
</Main>

<style is:global>
  dl {
    margin-block: 0.5em;
  }
  dt {
    font-size: 0.6em;
  }

  dd {
    margin: 0 0 0.5em;
  }

  .price {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--primary-color);

    &.pos {
      color: var(--text-color);
    }
  }

  input[type='range'] {
    height: 39px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #000000;
    background: #bababa;
    border-radius: 18px;
    border: 0px solid #000000;
  }
  input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #e11387;
    border: 3px solid #e11387;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #dedede;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.5px;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: #bababa;
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #000000;
    background: #bababa;
    border-radius: 18px;
    border: 0px solid #000000;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px #e11387;
    border: 3px solid #e11387;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #dedede;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    background: #bababa;
    border: 0px solid #000000;
    border-radius: 36px;
    box-shadow: 0px 0px 1px #000000;
  }
  input[type='range']::-ms-fill-upper {
    background: #bababa;
    border: 0px solid #000000;
    border-radius: 36px;
    box-shadow: 0px 0px 1px #000000;
  }
  input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #e11387;
    border: 3px solid #e11387;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #dedede;
    cursor: pointer;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: #bababa;
  }
  input[type='range']:focus::-ms-fill-upper {
    background: #bababa;
  }
</style>

<style lang="scss">
  i {
    color: var(--primary-color);
  }

  .plans-container {
    display: grid;
    gap: 2em 1em;

    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .plan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--primary-color);
    padding: 1rem;
    text-align: center;

    h2 {
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      top: 3rem;
      line-height: 1em;
      min-height: 4.5em;
      width: 100%;
      padding-block: 1em 0.6em;
      margin: 0;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%
      );
      z-index: 1;
    }

    .plan-subtitle {
      flex: 0 0 3rem;
      font-weight: bold;
      margin-block: 1.2em;
    }

    &[data-recommended] {
      border-width: 3px;
      margin: -2px;

      &:after {
        position: absolute;
        inset: 0 0 auto 0;
        box-sizing: border-box;
        width: 100%;
        content: attr(data-recommended);
        color: white;
        background-color: var(--primary-color);
        padding: 0.2em;
        border: 3px solid var(--primary-color);
        text-align: center;
        margin-bottom: -2em;
        z-index: 2;
      }
    }

    li {
      margin-block: 1em;

      p {
        margin: 0;
      }

      .small {
        font-size: 0.7em;
      }

      &::marker {
        font-size: 1em !important;
        color: var(--primary-color);
        content: '✔︎  ';
      }
    }
  }

  .footnote {
    margin-top: 1em;

    li::marker {
      font-size: 1em;
      content: '٭   ';
    }
  }

  .pos {
    border-color: var(--text-color);
    background-color: var(--light-background-color);
  }

  ul {
    flex: 1;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 1.5em;
  }

  .selection-button {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .feature {
    padding: 1.5em 2em;
    margin-bottom: 2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--primary-color);

    h3 {
      margin-block: 0 0.3rem;
      color: var(--primary-color);
    }

    p {
      margin-block: 0 0.5em;
    }

    .heading {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: 0.5em 2em;

      p {
        font-size: 0.9em;
        margin-left: auto;
      }
    }

    .price {
      text-align: right;
      margin: 0;

      i {
        color: var(--text-color);
      }
    }
  }
</style>
