---
import Main from "@layouts/Main.astro"
import Container from "@components/Container.astro";
import { Picture } from '@astrojs/image/components';

const description = 'Payflink bietet einen sehr grossen Leistungsumfang und ist äussert flexible. So stellen wir sicher, dass Payflink auf unterschiedliche Betrieb optimal ausgerichtet ist.'
---

<Main title="Étendue des fonctions" description={description}>
  <Container>
    <h1>Étendue des fonctions</h1>
    <p>Payflink offre un très grand nombre de fonctionnalités et est extrêmement flexible. Nous veillons ainsi à ce que Payflink soit parfaitement adapté à votre entreprise.</p>
    <div class="columns">
      <div style="flex: 1">
        <h2>Composants</h2>
        <p>Avec Payflink, vous avez le choix de ce que vous souhaitez résoudre avec Payflink. 
          Voulez-vous simplement prendre en charge le paiement ? Ou seulement le menu? Ou le menu, la commande et le paiement? 
          Tout comme vous le souhaitez.</p>
      </div>

      <ul style="flex: 1">
        <li style="list-style: '☕️  ';">
          <h3>Choisir <small>le menu</small></h3>
          <p>Les clients choisissent les plats et les boissons qu'ils souhaitent parmi votre offre.</p>
        </li>
        <li style="list-style: '📡  ';">
          <h3>Commander</h3>
          <p>Les clients peuvent commander les produits choisis directement via Payflink ou par l'intermédiaire de votre personnel.</p>
        </li>
        <li style="list-style: '💳  ';">
          <h3>Payer</h3>
          <p>Selon les paramètres, les clients peuvent payer lors de la commande ou après la consommation. Le paiement via le personnel reste bien entendu possible.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Déroulement</h2>
        <p>Qu'est-ce qui convient à votre établissement? Les clients doivent-ils payer à chaque commande ou une fois à la fin de la visite?</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🔁  ';">
          <h3>Payer lors de la commande</h3>
          <p>Les clients paient directement lors de chaque commande pour obtenir les articles souhaités.</p>
        </li>
        <li style="list-style: '1️⃣  ';">
          <h3>Payer à la fin de la visite</h3>
          <p>Les clients passent commande auprès du personnel et via Payflink et paient à la fin tous les articles commandés soit via Payflink soit auprès du personnel.</p>
        </li>
        <li style="list-style: '🔔  ';">
          <h3>Annonce de la prise en charge par SMS</h3>
          <p>Vos invités doivent-ils venir chercher leur repas dès qu'ils seront prêt ? Dans ce cas, Payflink enregistre le numéro de téléphone lors de la commande et informe les invités dès que le repas est prêt.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Moyens de paiement</h2>
        <p>Payflink propose tous les moyens de paiement de votre fournisseur de paiement.</p>
        <img alt="Twint" src="/assets/index/twint.svg" />
        <img alt="Twint" src="/assets/index/card.svg" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🏦  ';">
          <h3>Twint</h3>
          <p>Twint est utilisé par de nombreux clients Avec Payflink, le paiement avec Twint est rapide et facile.</p>
        </li>
        <li style="list-style: '💳  ';">
          <h3>Visa et MasterCard</h3>
          <p>Visa et MasterCard sont moins souvent utilisés que Twint. Mais une fois que le clients a saisi ses données, les paiements ultérieurs peuvent être effectués sans avoir à saisir à nouveau les informations. 
            Payflink n'enregistre aucune donnée de carte de crédit et est donc très sûr.</p>
        </li>
        <li style="list-style: '💰  ';">
          <h3>Autres modes de paiement</h3>
          <p>Datatrans et Worldline proposent de nombreux autres modes de paiement : American Express, Diners, Maestro, etc.</p>
        </li>
        <li style="list-style: '💵  ';">
          <h3>Espèces</h3>
          <p>Il n'est pas possible de payer directement en espèces sur Payflink. Il est toutefois possible de commander via Payflink et de payer en espèces auprès du personnel.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Inhouse, Take&nbsp;Away, Delivery</h2>
        <p>Peu importe où se trouvent vos invités : Payflink peut prendre la commande et effectuer le paiement.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🏢  ';">
          <h3>Inhouse <small>Commander en interne</small></h3>
          <p>Dans le cas de la commande Inhouse, les clinets sont assis dans votre établissement et commandent directement depuis leur table via leur propre téléphone portable. 
            C'est la discipline de prédilection de Payflink.</p>
        </li>
        <li style="list-style: '🚴 ';">
          <h3>Take Away</h3>
          <p>Payflink permet aux clients de commander des plats et des boissons lorsqu'ils sont en déplacement et de venir les chercher dans votre établissement.</p>
        </li>
        <li style="list-style: '🏠  ';">
          <h3>Delivery</h3>
          <p>Payflink prend également les commandes des clients qui sont chez eux.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Options de commande</h2>
        <Picture alt="Commandez avec plusieurs articles et la possibilité de donner un pourboire."
          src={import("/src/images/bestellung.png")} widths={[300, 600, 900]} sizes="300px" sizes="300px" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🪙  ';">
          <h3>Pourboire</h3>
          <p>Payflink permet également de recevoir des pourboires. Cette fonction est très utilisée par les clients, ce qui est également apprécié par votre personnel.</p>
        </li>
        <li style="list-style: '⛳️  ';">
          <h3>Plusieurs plats</h3>
          <p>Vous souhaitez donner à vos clients la possibilité de composer plusieurs plats lors d'une commande? Les clients peuvent alors attribuer chaque plat au plat souhaité.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Heures de commande/d'ouverture</h3>
          <p>Vous souhaitez que les commandes ne soient passées qu'à certaines heures? Vous pouvez définir les heures auxquelles les commandes peuvent être passées.</p>
        </li>
        <li style="list-style: '🧾  ';">
          <h3>Reçu</h3>
          <p>Si les clients doivent recevoir une quittance dans Payflink, vous pouvez configurer le texte souhaités pour la quittance.</p>
        </li>
        <li style="list-style: '📃  ';">
          <h3>Conditions de vente</h3>
          <p>Si un paiement est effectué lors de la commande, vos hôtes doivent accepter les conditions de vente. 
            Chez Payflink vos clinets peuvent afficher leurs conditions générales lors de la commande et les accepter directement en cliquant sur le bouton de commande.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Plusieurs menus</h2>
        <p>Avez-vous des offres différentes selon le moment de la journée ? Ou votre cuisine n'est pas ouverte en permanence ? Avec Payflink, vous avez la possibilité d'adapter votre offre en fonction de l'heure et du lieu.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🧭  ';">
          <h3>Offre en fonction du lieu</h3>
          <p>Certains plats ne sont disponibles qu'à l'intérieur de l'établissement, ou uniquement en take away et en livraison? 
            Avez-vous des tables dans le jardin où seules les boissons peuvent être commandées? 
            Avec Payflink, vous saisissez plusieurs menus et les attribuez à un lieu (par ex. Take Away, tables 7 - 17).</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Offre en fonction de l'heure</h3>
          <p>Votre cuisine est fermée l'après-midi? Chez Payflink, vous saisissez à cet effet une carte de menu "Cuisine" qui n'est par exemple disponible que de 11h à 14h et de 18h à 21h.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Prix dynamiques</h2>
        <p>Proposez-vous des prix spéciaux pour les happy hours? Vos prix sont-ils adaptés à la vente à emporter et à la livraison? 
          Avec les prix dynamiques, vous pouvez fixer vos prix en fonction du lieu et de l'heure.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🧭  ';">
          <h3>Prix en fonction du lieu</h3>
          <p>Les prix en fonction du lieu permettent de proposer des prix différents de manière ciblée pour certaines tables (p. ex. dans le jardin) ou pour le take away et la livraison sur certains articles ou options d'articles.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Prix en fonction du temps</h3>
          <p>Vos prix dépendent-ils du jour de la semaine ou de l'heure de la journée ? Les prix en fonction de l'heure vous permettent de proposer des prix différents pour certains articles ou options d'articles en fonction de l'heure.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Options d'articles</h2>
        <Picture alt="Options pour une pizza. Petite pizza, plus d'ingrédients, plus d'assiettes"
          src={import("/src/images/optionen.png")} widths={[300, 600, 900]} sizes="300px" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '💎  ';">
          <h3>Options payantes</h3>
          <p>Certaines options nécessitent une majoration ou une réduction de prix. Avec Payflink, vous décidez du prix d'une option. 
            Il est même possible de fixer le prix des options en fonction du temps et du lieu.</p>
        </li>
        <li style="list-style: '😁  ';">
          <h3>Options gratuites</h3>
          <p>Les options gratuites sont également possibles avec Gaston. 
            En ce qui concerne les options, vous n'avez pratiquement aucune limite.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Variations d'articles</h2>
        <Picture
          alt="Différentes quantités d'un même vin et leur prix sont affichés directement sur la carte."
          src={import("/src/images/variationen.png")} widths={[300, 600, 900]} sizes="300px" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '👨‍👩‍👧‍👦  ';">
          <h3>Différentes portions</h3>
          <p>Vous avez des portions différentes pour le même plat? Par exemple une petite et une grande portion ou le même plat pour plusieurs personnes? 
            Payflink vous permet d'afficher clairement les différentes portions et les prix correspondants.</p>
        </li>
        <li style="list-style: '🍷  ';">
          <h3>Différentes quantités</h3>
          <p>Il arrive souvent, en particulier pour les boissons, que l'on souhaite proposer différentes quantités. 
            Qu'il s'agisse de 3 dl ou d'une bouteille, les clients voient de manière transparente ce que vous proposez et à quel prix.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Connexion à la caisse</h2>
        <p>Payflink peut envoyer des commandes directement à votre caisse et importer les informations sur les articles, y compris les prix, depuis votre caisse.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '📡  ';">
          <h3>Envoyer la commande/le paiement à la caisse</h3>
          <p>Payflink transmet les commandes et les paiements à la caisse. Vous pouvez ainsi voir les commandes sur la caisse et si le paiement a déjà été effectué. 
            Le pourboire est transmis en tant que commande séparée afin de permettre une délimitation.</p>
        </li>
        <li style="list-style: '🚀  ';">
          <h3>Importer des articles depuis la caisse</h3>
          <p>Si vous gérez toutes les informations sur les produits et les prix dans votre caisse, nous importons automatiquement les informations les plus récentes en cas de modification. 
            Ainsi, votre offre est toujours à jour sans effort supplémentaire.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Propre design</h2>
        <p>Votre établissement a son propre style. Votre menu doit refléter ce style. Vous concevez votre menu selon vos goûts, en couleurs et avec des images ou simplement avec du texte.</p>
        <Picture alt="Menu avec photos pour chaque catégorie." src={import("/src/images/el-mosquito.png")}
          widths={[300, 600, 900]} sizes="300px" />

      </div>
      <ul style="flex: 1">
        <li style="list-style: '💈  ';">
          <h3>Logo</h3>
          <p>Votre logo est grand et clairement visible à tout moment sur le menu. Vous restez ainsi dans les mémoires.</p>
        </li>
        <li style="list-style: '🎨  ';">
          <h3>Couleurs</h3>
          <p>Choisissez vos couleurs d'accentuation, de texte et de fond. 
            Si vous souhaitez colorer spécialement d'autres éléments, nous le ferons volontiers pour vous sur demande.</p>
        </li>
        <li style="list-style: '✏️  ';">
          <h3>Polices de caractères</h3>
          <p>Vous pouvez soit choisir parmi plus de 1'000 polices de caractères, soit utiliser votre propre police maison dans le menu.</p>
        </li>
        <li style="list-style: '🏞  ';">
          <h3>Images</h3>
          <p>Si vous le souhaitez, des images peuvent être placées sur chaque article. 
            De plus, vous pouvez définir deux images pour chaque catégorie, qui seront affichées au-dessus et au-dessous de la catégorie.</p>

        </li>
        <li style="list-style: '📝  ';">
          <h3>Textes</h3>
          <p>Chez Payflink, vous pouvez définir vous-même un grand nombre de textes, si vous le souhaitez. 
            Cela comprend une introduction à votre offre et une description de votre entreprise, des textes libres pour des explications ou des remarques dans chaque catégorie, des conditions de vente et même des textes sur la quittance.</p>
        </li>
      </ul>
    </div>
  </Container>
</Main>

<style lang="scss">
  h2 {
    margin-top: 3em;
  }

  ul {
    padding-inline-start: 3.5em;
  }

  // :global(img) {
  //   width: 300px;
  // }

  img {
    width: 35%;
    margin-right: 10%;
  }
</style>