---
import Container from "@components/Container.astro";
import Main from "@layouts/Main.astro"

const description = "Vous avez des questions sur Payflink ou sur notre offre? Prenez rendez-vous en quatre clics!"
---

<Main title="Prendre rendez-vous" description={description}>
  <Container>
    <h1>Prendre rendez-vous</h1>
    <p>{description}</p>
    <div class="calendly-inline-widget"
      data-url="https://calendly.com/h-ayas/30min?hide_event_type_details=1&hide_gdpr_banner=1">
      <div class="placeholder">Chargement du calendrier...</div>
    </div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

  </Container>
</Main>

<style>
  .calendly-inline-widget {
    position: relative;
    min-width: 320px;
    height: 730px;
    z-index: 1;
  }

  .placeholder {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
</style>