@use './normalize';

:root {
  --primary-color: #e11387;
  --highlight-color: #fac6e340;
  --text-color: #4c4c4c;
  --background-color: #fff;
  --light-background-color: #e8e8e8;
  --light-primary-color: #ffa2d7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'Header'
    'Content'
    'Footer';
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;

  @media (min-width: 40rem) {
    line-height: 1.3;
  }
}

h1 {
  font-size: 2.5em;
  color: var(--primary-color);

  @media (min-width: 40rem) {
    font-size: 3em;
  }
}

h2 {
  font-size: 2em;

  @media (min-width: 40rem) {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 0;

  .background & {
    color: white;
  }

  @media (min-width: 40rem) {
    font-size: 2em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-block: 2em 2em;
}

small {
  font-size: 0.7em;
}

ul,
ol {
  li::marker {
    font-size: 2em;
  }
}

dialog {
  block-size: 100%;
  inline-size: 100%;
  border: 2px solid #555;
  background-color: #333;
  border-radius: 0.9em;
  margin: auto;

  @media (max-width: 599px) {
    max-inline-size: 100%;
    max-block-size: 100%;
    padding: 0.2em;
  }
}

.columns {
  @media (min-width: 768px) {
    display: flex;
    align-items: baseline;
    gap: 5vw;
  }
}

.right {
  text-align: right;
}

.desktop {
  @media (max-width: 599px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.ordered-list {
  counter-reset: ordered-list-counter;

  .description-wrapper {
    padding-left: 1em;
    counter-increment: ordered-list-counter;

    &::before {
      color: #00435f;
      content: counter(ordered-list-counter) '. ';
      margin-left: -1em;
    }
  }
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 4rem 2rem;
  padding-inline-start: 0;

  li {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .image-wrapper {
      flex: 0 1 8rem;
      max-width: 12rem;
      margin-inline: auto;
    }

    .description-wrapper {
      flex: 1 1 0%;
      font-weight: 600;
      padding-left: 1em;

      &::before {
        margin-left: -1em;
      }
    }
  }
}

.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 4em;

  li {
    flex: 1 0 10rem;
    text-align: center;
    max-width: 300px;

    div {
      height: 100%;
    }

    &::marker {
      font-size: 2em;
    }
  }

  &.small li {
    flex: 0 1 10rem;
  }

  p {
    font-weight: 600;
  }
}
