---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'

const description =
  'Do you have a question about Payflink, the digital menu? We are happy to help you.'
---

<Main title="Contact" description={description}>
  <Container>
    <h1>Contact</h1>
    <div class="columns">
      <div style="flex: 1">
        <h2>Payflink</h2>
        <h3>Email Inquiries</h3>
        <a href="mailto:mail@payflink.com">mail@payflink.com</a>
        <h3>Inquiries</h3>
        <a href="tel:+41625614243">+41 62 561 42 43</a>
        <h3>Email Support</h3>
        <a href="mailto:support@payflink.com">support@payflink.com</a>
        <h3>Support</h3>
        <a href="tel:+41625614244">+41 62 561 42 44</a>
        <h3>Address</h3>
        <address>
          Hauptstrasse 64<br />
          5035 Unterentfelden <br />
          Switzerland
        </address>
      </div>
      <div style="flex: 1">
        <h2>Make an appointment</h2>
        <p>Do you have questions about Payflink or our offer? Make an appointment in three clicks!</p>
        <ButtonLink href="/en/appointment/">Make appointment</ButtonLink>
      </div>
    </div>
  </Container>
</Main>