---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'

const description =
  'Do you have a question about Payflink, the digital menu? We are happy to help you.'
---

<Main title="Contact" description={description}>
  <Container>
    <h1>Contact</h1>
    <div class="columns">
      <div style="flex: 1">
        <h2>Payflink by Apptiva</h2>
        <h3>Email</h3>
        <p>mail@payflink.com</p>
        <h3>Inquiries</h3>
        <p>+41 79 555 95 99</p>
        <h3>Support</h3>
        <p>+41 62 561 42 38</p>
        <h3>Address</h3>
        <address>
          Hauptstrasse 64<br />
          5035 Unterentfelden <br />
          Switzerland
        </address>
      </div>
      <div style="flex: 1">
        <h2>Make an appointment</h2>
        <p>Do you have questions about Payflink or our offer? Make an appointment in three clicks!</p>
        <ButtonLink href="/en/appointment/">Make appointment</ButtonLink>
      </div>
    </div>
  </Container>
</Main>