---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'

const description =
  'Payflink was founded in 2019 with a vision to revolutionize the ordering and payment process in restaurants, cafes and bars.'

---

<Main title="About us" description={description}>
  <Container>
    <h1>Our Mission</h1>
    <p>
      <b>Payflink</b> was founded in 2019 with a vision to revolutionize the ordering
      and payment process in restaurants, cafés and bars.
    </p>
  </Container>
</Main>