---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'

const description =
  'Prices are not available. Sorry!'
---

<Main title="Prices and Plans" description={description}>
  <Container>
    <h1>Prices and Plans</h1>

    <p>Prices are not available. Sorry!</p>
  </Container>
</Main>