---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'

const description =
  'Choose the right offer for your needs. Gaston the digital menu allows guests to order and pay quickly and easily. It doesn\'t matter if the guests are in their establishment, on the road or at home. Gaston supports ordering in your business, take away and delivery.'
---

<Main title="Prices and Plans" description={description}>
  <Container>
    <h1>Prices and Plans</h1>

    <p>Prices are currently only available in <a href="/de/preise/">German</a>. Sorry!</p>
  </Container>
</Main>