---
import Main from '@layouts/Main.astro'
import ButtonLink from '@components/ButtonLink.astro'
import Container from '@components/Container.astro'
---

<Main title="Demo • Gaston">
  <Container>
    <h1>Demo</h1>
    <h2>Experience the visit to you from the point of view of your guests!</h2>
    <p>
      In the demo version you can go through the payment process. <br />Choose
      any payment method for the demo. No payment takes place.
    </p>
    <img
      src="/assets/qr-code-table-7.svg"
      height="300"
      width="300"
      alt="qr-code scan me"
    />
    <p>
      <ButtonLink
        href="https://demo.gastonsolution.com/?table=7"
        target="_blank"
      >
        Ohne QR-Code testen
      </ButtonLink>
    </p>
  </Container>
</Main>
