<div class="announcement">
  <p>
    <slot />
  </p>
</div>

<style lang="scss">
  .announcement {
    font-size: 0.8em;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-inline: 1rem;

    :global(b) {
      font-size: 1.2em;
    }
    :global(a) {
      color: white;
      opacity: 0.7;
    }
    @media (min-width: 40rem) {
      font-size: 1em;
      padding-inline: 2rem;
    }
  }
</style>
