<button><slot /></button>

<style lang="scss" is:global>
  button {
    display: inline-block;
    font-size: 1em;
    padding: 0.6em 2em;
    margin-bottom: 2em;
    border: 0.16em solid var(--primary-color);
    border-radius: 2em;
    font-weight: bold;
    color: var(--primary-color);
    background: transparent;
    transition: transform 30ms ease-out;
    transform: translate3d(0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      transform: translate3d(0, -1px, 0);
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      opacity: 0.5;
      transform: none;
      cursor: progress;
    }

    @media (max-width: 380px) {
      width: 100%;
      text-align: center;
    }
  }
</style>
