:root {
  --button-color: var(--background-color);
}

.dialog-layout {
  display: grid;
  grid:
    '. close' auto
    'content content' 1fr / 1fr auto;
  height: 100%;
}

.close {
  grid-area: close;
  padding: 0.2em;
  margin-bottom: -0.8em;
}

.close-button {
  font-size: 2em;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary-color);
}

.content {
  grid-area: content;
  /* height: calc(100% - 5em); */
}

.button {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  transform: translate3d(0, -1px, 0);
}

.button:active {
  transform: translateY(1px);
}

@media (max-width: 380px) {
  .button {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .dialog-layout {
    grid: 'content close' / 1fr auto;
  }
}

@media (min-height: 700px) and (min-width: 600px) {
  dialog {
    padding: 2em;
  }
}
