---
import { mkIsCurrentPage } from '../utils.ts'
import ButtonLink from './ButtonLink.astro';
import Container from './Container.astro';

const { pathname } = Astro.canonicalURL

const isCurrentPage = mkIsCurrentPage(pathname)
const isDe = isCurrentPage('/de/')
---

<footer>
  <Container>
    <div class="button-list">
      <ButtonLink href="preise/">Gaston engagieren</ButtonLink>
      <ButtonLink href="demo/">Demo starten</ButtonLink>
    </div>
  </Container>

  <div class="columns">
    <p>
      © 2019 - {new Date().getFullYear()} Gaston
      <br />
      {isDe ? 'Eine Initiative von' : 'An initiative of'}
      <a href="https://apptiva.ch">Apptiva</a>
      <br />
      Luzern • Schweiz
    </p>
    <p>
      {isDe ? 'Anfragen' : 'Inquiries'}&ensp;
      <a href="tel:+41413222626">+41 41 322 26 26</a> {isDe ? 'oder' : 'or'} <a href={isDe ? "/de/termin/"
        : '/en/appointment/' }>{isDe ? 'Termin buchen' : 'book an appointment'}</a>
      <br />
      Support (24h)&ensp;
      <a href="tel:+41415620111">+41 41 562 01 11</a>
    </p>
    <p>
      <a href="/en/" aria-current={isCurrentPage('/en/')}> en </a>
      &emsp;
      <a href="/de/" aria-current={isCurrentPage('/de/')}> de </a>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    --primary-color: white;
    position: relative;
    grid-area: Footer;
    padding: 3rem 0 1rem;
    color: var(--primary-color);

    color: white;
    z-index: 5;
    overflow: hidden;

    &::before {
      content: ' ';
      position: absolute;
      inset: 0 0 -12rem 0;
      background-image: linear-gradient(rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)),
        url(/assets/curve.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      z-index: -1;
    }


    .button-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.5em 1em;
      font-size: 1em;
      margin-top: 1em;
    }

    .columns {

      @media (min-width: 40rem) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;
        padding: 0 2rem;
      }

      a[aria-current] {
        font-weight: bold;
      }
    }

  }
</style>