---
import { callToActionLinksDe, callToActionLinksEn, footer } from 'src/config';
import { mkIsCurrentPage } from '../utils.js'
import CallToAction from './CallToAction.astro';
import Container from './Container.astro';
import Instagram from '@icons/Instagram.astro'

const isCurrentPage = mkIsCurrentPage(Astro.url.pathname)
const isDe = isCurrentPage('/de/')

const links = isDe ? callToActionLinksDe : callToActionLinksEn
const footerInCurrentLanguage = isDe ? footer.de : footer.en
---

<footer>
  <CallToAction links={links} />
  <Container>
    <div class="columns link-groups">
      {footerInCurrentLanguage.map(group => <div>
        <h2>{group.title}</h2>
        <ul>{group.items.map(item => <li><a href={item.href}>{item.title}</a></li>)}</ul>
      </div>)}
    </div>
  </Container>

  <div class="columns">
    <div>
      <p>
        <a href="https://www.instagram.com/gastonsolution/"><Instagram /></a>
      </p>

      <p>
        © 2019 - {new Date().getFullYear()} Gaston
        <br />
        {isDe ? 'Eine Initiative von' : 'An initiative of'}
        <a href="https://apptiva.ch">Apptiva</a>
        <br />
        Luzern • Schweiz
      </p>
    </div>
    <p>
      {isDe ? 'Anfragen' : 'Inquiries'}&ensp;
      <a href="tel:+41413222626">+41 41 322 26 26</a> {isDe ? 'oder' : 'or'} <a href={isDe ? "/de/termin/"
        : '/en/appointment/' }>{isDe ? 'Termin buchen' : 'book an appointment'}</a>
      <br />
      Support (24h)&ensp;
      <a href="tel:+41415620111">+41 41 562 01 11</a>
    </p>
    <p>
      <a href="/en/" aria-current={isCurrentPage('/en/')}> en </a>
      &emsp;
      <a href="/de/" aria-current={isCurrentPage('/de/')}> de </a>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    --primary-color: white;
    position: relative;
    grid-area: Footer;
    padding: 6rem 1rem 1rem;
    color: var(--primary-color);

    color: white;
    z-index: 5;
    overflow: hidden;

    &::before {
      content: ' ';
      position: absolute;
      inset: 0 0 -12rem 0;
      background-image: linear-gradient(rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)),
        url(/assets/curve.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      z-index: -1;
    }

    h2 {
      font-size: 1.4em;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .columns {
      a[aria-current] {
        font-weight: bold;
      }
    }

    .link-groups {
      margin-block: 3em;
      margin-inline: -1em;
    }

    @media (min-width: 40rem) {
      .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;
        padding: 0 2rem;
      }

      .link-groups {
        align-items: flex-start;
      }

    }

  }
</style>