---
import { mkIsCurrentPage } from '../utils.ts'

const { pathname } = new URL(Astro.request.url)

const isCurrentPage = mkIsCurrentPage(pathname)
const isDe = isCurrentPage('/de/')
---

<footer>
  <p>
    © 2019 - {new Date().getFullYear()} Gaston
    <br />
    {isDe ? 'Eine Initiative von' : 'An initiative of'}
    <a href="https://apptiva.ch">Apptiva</a>
    <br />
    Luzern • Schweiz
  </p>
  <p>
    {isDe ? 'Anfragen' : 'Inquiries'}&ensp;
    <a href="+41413222626">+41 41 322 26 26</a>
    <br />
    Support (24h)&ensp;
    <a href="+41415620111">+41 41 562 01 11</a>
  </p>
  <p>
    <a href="/en/" aria-current={isCurrentPage('/en/')}> en </a>
    &emsp;
    <a href="/de/" aria-current={isCurrentPage('/de/')}> de </a>
  </p>
</footer>

<style lang="scss">
  footer {
    grid-area: Footer;
    padding: 0 1rem;
    color: var(--primary-color);

    @media (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 2rem;
      padding: 0 2rem;
    }

    a[aria-current] {
      font-weight: bold;
    }
  }
</style>
