---
import { mkIsCurrentPage } from '../utils.ts'

const { pathname } = Astro.canonicalURL
const isCurrentPage = mkIsCurrentPage(pathname)
const isDe = isCurrentPage('/de/')
---

<script>
  window.addEventListener('load', function (event) {
    let observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < -1) {
        document.body.classList.add('scrolled-down')
      } else {
        document.body.classList.remove('scrolled-down')
      }
    })
    observer.observe(document.querySelector('#top-of-site-pixel-anchor'))
  })
</script>

<header>
  <p>
    <a href="/" aria-current={isCurrentPage('/de/', { exact: true })}>
      Gaston
    </a>
  </p>
  <nav>
    <a
      href={isDe ? '/de/offers/' : '/en/offers/'}
      aria-current={isCurrentPage('/offers')}>{isDe ? 'Angebot' : 'Offer'}</a
    >
    <a
      set:html={isDe ? 'Über&nbsp;uns' : 'About&nbsp;us'}
      href={isDe ? '/de/about/' : '/en/about/'}
      aria-current={isCurrentPage('/about')}></a>
    <a
      href={isDe ? '/de/blog/' : '/en/blog/'}
      aria-current={isCurrentPage('/blog')}>Blog</a
    >
    <a
      href={isDe ? '/de/contact/' : '/en/contact/'}
      aria-current={isCurrentPage('/contact')}>{isDe ? 'Kontakt' : 'Contact'}</a
    >
  </nav>
</header>
<div id="top-of-site-pixel-anchor"></div>

<style lang="scss">
  header {
    position: relative;
    position: sticky;
    grid-area: Header;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid transparent;

    font-weight: bold;
    height: 3.6em;

    overflow-x: auto;

    color: var(--text-color);

    transition: border 200ms;

    background-color: white;

    :global(.scrolled-down) & {
      border-bottom: 1px solid var(--primary-color);
    }

    font-size: 1rem;
    @media (min-width: 600px) {
      font-size: 1.2rem;
      padding: 0 0.8rem;
    }

    nav {
      display: flex;
    }
    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 0.5em;
      padding-right: 0.5em;
      color: inherit;
      text-decoration: none;
      @media (min-width: 600px) {
        padding-left: 1.2em;
        padding-right: 1.2em;
      }

      &[aria-current] {
        color: var(--primary-color);
      }
    }
    .active {
      color: var(--primary-color);
    }
  }

  #top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
  }
</style>
