---
import { NavigationTree } from "src/config";
import { mkIsCurrentPage } from "src/utils";
import MobileMenuGroup from "./MobileMenuGroup.astro";

export type Props = {
  navigation: NavigationTree
}

const { navigation } = Astro.props as Props;
const isCurrentPage = mkIsCurrentPage(Astro.url.pathname)
---

<nav>
  <a href={'/de/'} aria-current={isCurrentPage('/de/', {exact: true})}>{isCurrentPage('/de/') ? 'Startseite' :
    'Home'}</a>
  {navigation.map((item, i) => 'items' in item ?
  <MobileMenuGroup {...item} /> : <a href={item.href} aria-current={isCurrentPage(item.href)}>{item.title}</a>)}

  <footer>
    <p>
      <a href="/en/" aria-current={isCurrentPage('/en/')}> en </a>
      &emsp;
      <a href="/de/" aria-current={isCurrentPage('/de/')}> de </a>
    </p>
  </footer>
</nav>

<style lang="scss">
  nav {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    height: 100%;
    gap: 1.5em;
    text-align: center;

    a {
      text-decoration: none;


      &[aria-current] {
        color: var(--background-color);
      }
    }

    footer {
      margin-top: auto;

      p :not([aria-current]) {
        font-weight: 100;
      }
    }
  }
</style>