---
import { siteMap } from 'src/config'
import type { Language } from 'src/types'

type Props = {
  lang: Language
}
const { lang } = Astro.props as Props

const footerInCurrentLanguage = siteMap[lang]
---

<div class="columns link-groups">
  {
    footerInCurrentLanguage.map((group) => (
      <div>
        <h2>{group.title}</h2>
        <ul>
          {group.items.map((item) => (
            <li>
              <a href={item.href}>{item.title}</a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>

<style>
  h2 {
    font-size: 1.4em;
    margin-top: 2em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .link-groups li {
    margin-bottom: 0.6em;
  }

  .columns {
    a[aria-current] {
      font-weight: bold;
    }
  }

  .link-groups {
    margin-block: 3em;
  }

  @media (min-width: 40rem) {
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 2rem;
    }

    .link-groups {
      align-items: flex-start;
    }

    .link-groups li {
      margin-bottom: 0;
    }
  }
</style>
