---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'

const description =
  'Payflink unterstützt Ihren Betrieb bei der Bestellung und Bezahlung. Dabei ist er äussert flexible und passt sich Ihren Wünschen und Bedürfnisse an.'
---

<Main title="Bestell- und Zahlungsablauf aus der Sicht von Gastro-Betrieben" description={description}>
  <Container>
    <h1>Bestell- und Zahlungsablauf <small><br>aus der Sicht Ihres Betriebes</small></h1>

    <section id="bestellen-mit-gaston">
      <h2>Bestellen mit Payflink</h2>

      <div class="columns">
        <div style="flex: 1">
          <h3>Ohne Kasse</h3>
          <p>
            Alle Bestellungen werden mit einem Bondrucker ausgedruckt oder auf einem Bildschirm angezeigt.
          </p>
        </div>
        <ol class="description-list ordered-list" style="flex: 2">
          <li>
            <div class="description-wrapper">
              <h4>Gast bestellt</h4>
              <p>Gibt ein Gast eine Bestellung auf, so senden wir diese von der App an den Payflink-Server. Dort wird die Bestellung kontrolliert und geschaut, ob gleich bezahlt werden muss. Falls Sie möchten, dass die Gäste gleich beim Bestellen bezahlen, so leiten wir die Gäste zum Zahlungsdienst weiter.</p>
            </div>
            <div class="image-wrapper">
              <img src="/assets/index/scan.svg" alt="Gast bestellt" loading="lazy" />
            </div>
          </li>
          <li>
            <div class="description-wrapper">
              <h4>Payflink schickt die Bestellung in die Küche</h4>
              <p>Falls bei der Bestellung alles korrekt ist, schicken wir die Bestellung in die Küche oder die Bar. Sie haben die Wahl zwischen einem Bon-Drucker und einem Screen. Mehr als Strom und Internet brauchen Sie nicht!</p>
            </div>
            <div class="image-wrapper">
              <img src="/assets/index/kitchen.svg" alt="Bondrucker in der Küche" loading="lazy" />
            </div>
          </li>
        </ol>
      </div>

      <hr />

      <div class="columns">
        <div style="flex: 1">
          <h3>Mit Kasse</h3>
          <p>
            Alle Bestellungen werden an Ihre Kasse übermittelt. Nehmen Sie mit uns <a href="/de/kontakt/">Kontakt</a> auf, um ihre Kassenanbindung zu besprechen.
          </p>
        </div>
        <ol class="description-list ordered-list" style="flex: 2">
          <li>
            <div class="description-wrapper">
              <h4>Gast bestellt</h4>
              <p>Gibt ein Gast eine Bestellung auf, so senden wir diese von der App an den Payflink-Server. Dort wird die Bestellung kontrolliert und geschaut, ob gleich bezahlt werden muss. Falls Sie möchten, dass die Gäste gleich beim Bestellen bezahlen, so leiten wir die Gäste zum Zahlungsdienst weiter.</p>
            </div>
            <div class="image-wrapper">
              <img src="/assets/index/scan.svg" alt="Gast bestellt" loading="lazy" />
            </div>
          </li>
          <li>
            <div class="description-wrapper">
              <h4>Payflink übermittelt die Bestellung an die Kasse</h4>
              <p>Falls mit der Bestellung alles in Ordnung ist, senden wir diese an Ihre Kasse. Sollen die Gäste gleich beim Bestellen bezahlen, so schliessen wir den Tisch, nachdem die Bestellung übermittelt wurde. So wissen Sie, dass der Gast für diese Bestellung bereits bezahlt hat.</p>
            </div>
            <div class="image-wrapper">
              <img src="/assets/index/pos.svg" alt="Kasse" loading="lazy" />
            </div>
          </li>
          <li>
            <div class="description-wrapper">
              <h4>Kasse schickt Bestellung in die Küche</h4>
              <p>Die Kasse sendet die Bestellung wie Ihre bisherigen Bestellungen in die Küche oder die Bar. Sie brauchen keine neuen Geräte und können Ihre bisherigen Prozesse beibehalten.</p>
              <p>Falls sie heute keine Bestellungen per Kasse in die Küche oder die Bar schicken, so stellen wir Ihnen einen Bon-Drucker oder Screen zur Verfügung. Alles was Sie brauchen, ist Strom und Internet.</p>
            </div>
            <div class="image-wrapper">
              <img src="/assets/index/kitchen.svg" alt="Bondrucker in der Küche" loading="lazy" />
            </div>
          </li>
        </ol>
      </div>
    </section>

    <section id="bezahlen-mit-gaston">
      <h2>Bezahlen mit Payflink</h2>
      <p>
        Payflink unterstützt mehrere Zahlungsmittel und Zahlungsprovider (PSP). Sie entscheiden, ob Ihre Gäste in der App
        bezahlen können.
      </p>
      <div class="columns">
        <div style="flex: 1">
          <h3>Zahlungsmittel</h3>
          <p>
            Payflink unterstützt die alle gängigen Zahlungsmittel der Schweiz.
            Welche Zahlungsmittel verfügbar sind, ist von Ihrem Zahlungsprovider
            und den entsprechenden Verträgen abhängig.
          </p>
        </div>
        <ul class="horizontal-list small" style="flex: 1; margin-top: 4em;">
          <li>
            <img src="/assets/index/twint.svg" alt="Twint" loading="lazy" />
            <p>Twint</p>
          </li>
          <li>
            <img src="/assets/index/card.svg" alt="Kredit- & Debitkarten" loading="lazy" />
            <p>Kredit- und Debitkarten</p>
          </li>
        </ul>
      </div>

      <hr />

      <div class="columns">
        <div style="flex: 1">
          <h3>Zahlungsprovider</h3>
          <p>
            Zur Zeit unterstützt Payflink die zwei grössten Zahlungsprovider der
            Schweiz. Falls Sie einen anderen Zahlungsprovider wünschen, nehmen Sie mit uns <a
              href="/de/kontakt/">Kontakt</a> auf.
          </p>
        </div>
        <ul class="horizontal-list small" style="flex: 1; margin-top: 4em;">
          <li>
            <img src="/assets/index/datatrans.svg" alt="Datatrans" loading="lazy" />
            <p>Datatrans</p>
          </li>
          <li>
            <img src="/assets/index/worldline.svg" alt="Worldline" loading="lazy" />
            <p>Worldline (ehemals Saferpay)</p>
          </li>
        </ul>
      </div>
    </section>

  </Container>
</Main>

<style lang="scss">
  h1 {
    line-height: 1;
  }

  hr {
    margin-block: 2em;
  }
</style>