---
import Container from "@components/Container.astro";
import Main from "@layouts/Main.astro"

---

<Main>
  <Container>
    <h1>Funktionen</h1>
    <p>Gaston bietet einen sehr grossen Leistungsumfang und ist äussert flexible. So stellen wir sicher, dass Gaston auf
      unterschiedliche Betrieb optimal ausgerichtet ist.</p>
    <div class="columns">
      <div style="flex: 1">
        <h2>Komponenten</h2>
        <p>Bei Gaston haben Sie die Wahl, was sie mit Gaston lösen möchten. Wollen Sie bloss das Bezahlen unterstützen?
          Oder
          nur die Speisekarte? Oder die Speisekarte, das Bestellen und Bezahlen? Sie haben die Wahl.</p>
      </div>

      <ul style="flex: 1">
        <li style="list-style: '☕️  ';">
          <h3>Wählen <small>Speisekarte</small></h3>
          <p>Die Gäste wählen aus Ihrem Angebot die gewünschten Speisen und Getränke.</p>
        </li>
        <li style="list-style: '📡  ';">
          <h3>Bestellen</h3>
          <p>Die gewählten Produkte können die Gäste direkt über Gaston oder über Ihr Personal bestellen.</p>
        </li>
        <li style="list-style: '💳  ';">
          <h3>Bezahlen</h3>
          <p>Bei Bestellen oder nach dem Konsum, können die Gäste Bestellen. Sie wählen, ob bei der Bestellung oder nach
            dem Konsum bezahlt wird. Natürlich ist die Zahlung über das Personal weiterhin möglich.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Ablauf</h2>
        <p>Was passt zu Ihrem Betrieb? Sollen Gäste bei jeder Bestellung bezahlen oder einmal am Ende des Besuchs?</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🔁  ';">
          <h3>Bezahlen beim Bestellen</h3>
          <p>Sollen die Gäste bei jeder Bestellung gleich bezahlen, um die gewünschten Artikel zu erhalten? Dann ist der
            Ablauf "Bezahlen beim Bestellen" für Ihren Betrieb richtig.</p>
        </li>
        <li style="list-style: '1️⃣  ';">
          <h3>Bezahlen am Ende des Besuchs</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Inhouse, Takeaway, Delivery</h2>
        <p>Egal, wo sich Ihre Gäste befinden: Gaston kann die Bestellung aufnehmen und Zahlung durchführen.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🏢  ';">
          <h3>Inhouse <small>Bestellen im Betrieb</small></h3>
          <p>Beim Inhouse-Bestellen, sitzen die Gäste bei Ihnen im Betrieb und stellen über das eigene Handy direkt vom
            Tisch aus. Die ist die Paradedisziplin von Gaston.</p>
        </li>
        <li style="list-style: '🚴 ';">
          <h3>Takeaway</h3>
          <p>Über Gaston können Gäste Speise und Getränke von unterwegs bestellen und bei Ihnen im Betrieb abholen.</p>
        </li>
        <li style="list-style: '🏠  ';">
          <h3>Delivery</h3>
          <p>Gaston ist auch in der Lage Bestellungen von Gästen die zuhause sind, entgegen zu nehmen.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Bestelloptionen</h2>
        <p>Mit Gaston haben Sie bei der Bestell-Optionen das Sagen.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🪙  ';">
          <h3>Trinkgeld</h3>
          <p>Auch mit Gaston ist es möglich Trinkgeld entgegen zu nehmen. Die Funktion wird rege von den Gästen genutzt
            und von Ihrem Personal gerne gesehen.</p>
        </li>
        <li style="list-style: '⛳️  ';">
          <h3>Mehrere Gänge</h3>
          <p>Möchten sie Ihren Gästen die Gelegenheit geben, mehrere Gänge mit einer Bestellung zusammen zu stellen? Die
            Gäste können so jede Speise einem Gang zuweisen.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Bestell-/Öffnungszeiten</h3>
          <p>Soll nur zu bestimmten Zeit bestellt werden können? Sie können die Zeiten definieren, zu welchen Bestellt
            werden kann.</p>
        </li>
        <li style="list-style: '🧾  ';">
          <h3>Quittung</h3>
          <p>Sollen die Gäste einen Quittung in Gaston erhalten, so können Sie die gewünschten Texte für die Quittung
            konfigurieren.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Mehrere Speisekarten</h2>
        <p>Haben Sie unterschiedliche Angebote, je nach Tageszeit? Oder ist ihre Küche nicht durchgehend geöffnet? Mit
          Gaston haben sie die Möglichkeit zeit- und ortsabhängig Ihr Angebot anzupassen. </p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '📌  ';">
          <h3>Ortsabhängiges Anbot</h3>
          <p>Sind gewisse Speisen nur Inhouse verfügbar, aber nicht bei Takeaway und Delivery? Oder umgekehrt? Haben Sie
            einen Tische im Garten, welche nur ein eingeschränktes Angebot möglich ist? Mit Gaston können Sie mehrere
            Speisekarten erfassen und diese einem Ort (z.B. Takeaway, Tisch 7 - 17) zuweisen.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Zeitabhängiges Angebot</h3>
          <p>Hat Ihre Küche am Nachmittag geschlossen? Bei Gaston erfassen Sie dazu eine Speisekarte "Küche", welche
            beispielsweise von 11-14 Uhr und von 18-21 Uhr verfügbar ist.</p>
        </li>
      </ul>
    </div>
    <!-- Placeholder Text below here -->
    <div class="columns">
      <div style="flex: 1">
        <h2>Dynamische Preise</h2>
        <p>Haben Sie zu untersche</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '📌  ';">
          <h3>Ortsabhängige Preise</h3>
          <p>Sollen die Gäste bei jeder Bestellung gleich bezahlen, um die gewünschten Artikel zu erhalten? Dann ist der
            Ablauf "Bezahlen beim Bestellen" für Ihren Betrieb richtig.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Zeitabhängige Preise</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Artikel Optionen</h2>
        <p>Haben Sie zu untersche</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🧭  ';">
          <h3>Optionsabhängige Preise</h3>
          <p>Sollen die Gäste bei jeder Bestellung gleich bezahlen, um die gewünschten Artikel zu erhalten? Dann ist der
            Ablauf "Bezahlen beim Bestellen" für Ihren Betrieb richtig.</p>
        </li>
        <li style="list-style: '💎  ';">
          <h3>Kostenpflichtige Optionen</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
        <li style="list-style: '😁  ';">
          <h3>Kostenlose Optionen</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Kassenanbindung</h2>
        <p>Haben Sie zu untersche</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '📡  ';">
          <h3>Bestellung/Bezahlung an die Kasse senden</h3>
          <p>Sollen die Gäste bei jeder Bestellung gleich bezahlen, um die gewünschten Artikel zu erhalten? Dann ist der
            Ablauf "Bezahlen beim Bestellen" für Ihren Betrieb richtig.</p>
        </li>
        <li style="list-style: '🚀  ';">
          <h3>Artikel aus der Kasse importieren</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Eigenes Design</h2>
        <p>Haben Sie zu untersche</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '💈  ';">
          <h3>Logo</h3>
          <p>Sollen die Gäste bei jeder Bestellung gleich bezahlen, um die gewünschten Artikel zu erhalten? Dann ist der
            Ablauf "Bezahlen beim Bestellen" für Ihren Betrieb richtig.</p>
        </li>
        <li style="list-style: '🎨  ';">
          <h3>Farben</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
        <li style="list-style: '✏️  ';">
          <h3>Schriften</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
        <li style="list-style: '🏞  ';">
          <h3>Bilder</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
        <li style="list-style: '📝  ';">
          <h3>Texte</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
      </ul>
    </div>
  </Container>
</Main>