---
import { SEO } from 'astro-seo'

import Container from "@components/Container.astro";
import Main from "@layouts/Main.astro"
import { Picture } from 'astro-imagetools/components';
import { generalTitle, metaData } from 'src/config'

const { de } = metaData

const title = `Funktionsumfang • ${generalTitle(de)}`
const description = 'Gaston bietet einen sehr grossen Leistungsumfang und ist äussert flexible. So stellen wir sicher, dass Gaston auf unterschiedliche Betrieb optimal ausgerichtet ist.'
---

<head>
  <SEO {title} {description} />
</head>

<Main>
  <Container>
    <h1>Funktionsumfang</h1>
    <p>Gaston bietet einen sehr grossen Leistungsumfang und ist äusserst flexibel. So stellen wir sicher, dass Gaston
      optimal auf
      Ihren Betrieb ausgerichtet ist.</p>
    <div class="columns">
      <div style="flex: 1">
        <h2>Komponenten</h2>
        <p>Bei Gaston haben Sie die Wahl, was sie mit Gaston lösen möchten. Wollen Sie bloss das Bezahlen unterstützen?
          Oder nur die Speisekarte? Oder die Speisekarte, das Bestellen und Bezahlen? Sie haben die Wahl.</p>
      </div>

      <ul style="flex: 1">
        <li style="list-style: '☕️  ';">
          <h3>Wählen <small>Speisekarte</small></h3>
          <p>Die Gäste wählen aus Ihrem Angebot die gewünschten Speisen und Getränke.</p>
        </li>
        <li style="list-style: '📡  ';">
          <h3>Bestellen</h3>
          <p>Die gewählten Produkte können die Gäste direkt über Gaston oder über Ihr Personal bestellen.</p>
        </li>
        <li style="list-style: '💳  ';">
          <h3>Bezahlen</h3>
          <p>Die Gäste können je nach Einstellung beim Bestellen oder nach dem Konsum bezahlen. Natürlich ist die
            Zahlung über das Personal weiterhin möglich.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Ablauf</h2>
        <p>Was passt zu Ihrem Betrieb? Sollen Gäste bei jeder Bestellung bezahlen oder einmal am Ende des Besuchs?</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🔁  ';">
          <h3>Bezahlen beim Bestellen</h3>
          <p>Sollen die Gäste bei jeder Bestellung gleich bezahlen, um die gewünschten Artikel zu erhalten? Dann ist der
            Ablauf "Bezahlen beim Bestellen" für Ihren Betrieb richtig.</p>
        </li>
        <li style="list-style: '1️⃣  ';">
          <h3>Bezahlen am Ende des Besuchs</h3>
          <p>Sollen die Gäste beim Personal und über Gaston bestellen können und am Ende alle bestellten Artikel
            entweder über Gaston oder das Personal bezahlen? Dann ist der Ablauf "Bezahlen am Ende" für Ihren Betrieb
            richtig.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Zahlungsmittel</h2>
        <p>Gaston bietet alle Zahlungsmittel Ihres Zahlungsproviders an.</p>
        <img alt="Twint" src="/assets/index/twint.svg" />
        <img alt="Twint" src="/assets/index/card.svg" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🏦  ';">
          <h3>Twint</h3>
          <p>Twint wird von vielen Gästen genutzt. Mit Gaston ist das Bezahlen mit Twint schnell und einfach.</p>
        </li>
        <li style="list-style: '💳  ';">
          <h3>Visa und MasterCard</h3>
          <p>Visa und MasterCard werden weniger häufig als Twint eingesetzt. Hat der Gast aber einmal seine Daten
            eingegeben, können spätere Zahlungen ohne erneutes Eingeben abgewickelt werden. Gaston speichert dabei keine
            Kreditkarten-Daten und ist entsprechend sehr sicher.</p>
        </li>
        <li style="list-style: '💰  ';">
          <h3>Weitere Zahlungsarten</h3>
          <p>Datatrans und Worldline bieten viele weitere Zahlungsarten an: American Express, Diners, Maestro usw.</p>
        </li>
        <li style="list-style: '💵  ';">
          <h3>Bargeld</h3>
          <p>In Gaston kann nicht direkt mit Bargeld bezahlt werden. Es ist aber möglich, über Gaston zu bestellen und
            mit Bargeld beim Personal zu bezahlen.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Inhouse, Take Away, Delivery</h2>
        <p>Egal, wo sich Ihre Gäste befinden: Gaston kann die Bestellung aufnehmen und die Zahlung durchführen.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🏢  ';">
          <h3>Inhouse <small>Bestellen im Betrieb</small></h3>
          <p>Beim Inhouse-Bestellen, sitzen die Gäste bei Ihnen im Betrieb und bestellen über das eigene Handy direkt
            vom
            Tisch aus. Die ist die Paradedisziplin von Gaston.</p>
        </li>
        <li style="list-style: '🚴 ';">
          <h3>Take Away</h3>
          <p>Über Gaston können Gäste Speise und Getränke von unterwegs bestellen und bei Ihnen im Betrieb abholen.</p>
        </li>
        <li style="list-style: '🏠  ';">
          <h3>Delivery</h3>
          <p>Gaston nimmt auch Bestellungen, von Gästen die zuhause sind, entgegen.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Bestelloptionen</h2>
        <Picture alt="Bestellung mit mehreren Position und der Möglichkeit Trinkgeld zu geben."
          src="/src/images/bestellung.png" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🪙  ';">
          <h3>Trinkgeld</h3>
          <p>Auch mit Gaston ist es möglich Trinkgeld entgegen zu nehmen. Die Funktion wird rege von den Gästen genutzt
            und von Ihrem Personal gerne gesehen.</p>
        </li>
        <li style="list-style: '⛳️  ';">
          <h3>Mehrere Gänge</h3>
          <p>Möchten sie Ihren Gästen die Gelegenheit geben, mehrere Gänge bei einer Bestellung zusammenzustellen? Die
            Gäste können dabei jede Speise dem gewünschten Gang zuweisen.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Bestell-/Öffnungszeiten</h3>
          <p>Soll nur zu bestimmten Zeiten bestellt werden können? Sie können die Zeiten definieren, zu welchen bestellt
            werden kann.</p>
        </li>
        <li style="list-style: '🧾  ';">
          <h3>Quittung</h3>
          <p>Sollen die Gäste einen Quittung in Gaston erhalten, so können Sie die gewünschten Texte für die Quittung
            konfigurieren.</p>
        </li>
        <li style="list-style: '📃  ';">
          <h3>Geschäftsbedingungen</h3>
          <p>Falls eine Zahlung bei der Bestellung stattfindet, müssen Sie Ihre Gäste die Geschäftsbedingungen annehmen.
            Bei Gaston haben wir dies sehr einfach für Sie und Ihre Gäste gelöst. Die Gäste könne beim Bestellen Ihre
            AGBs anzeigen lassen und mit dem Bestell-Knopf die Bedingungen annehmen.</p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <div style="flex: 1">
        <h2>Mehrere Speisekarten</h2>
        <p>Haben Sie unterschiedliche Angebote je nach Tageszeit? Oder ist ihre Küche nicht durchgehend geöffnet? Mit
          Gaston haben sie die Möglichkeit zeit- und ortsabhängig Ihr Angebot anzupassen. </p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🧭  ';">
          <h3>Ortsabhängiges Anbot</h3>
          <p>Sind gewisse Speisen nur Inhouse verfügbar, aber nicht bei Take Away und Delivery? Oder umgekehrt? Haben
            Sie
            Tische im Garten, wo nur Getränke bestellt werden können? Mit Gaston erfassen Sie mehrere
            Speisekarten und weisen diese einem Ort (z.B. Take Away, Tisch 7 - 17) zu.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Zeitabhängiges Angebot</h3>
          <p>Hat Ihre Küche am Nachmittag geschlossen? Bei Gaston erfassen Sie dazu eine Speisekarte "Küche", welche
            beispielsweise von 11-14 Uhr und von 18-21 Uhr verfügbar ist.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Dynamische Preise</h2>
        <p>Bieten Sie unterschiedliche Preise zur Happy-Hour an? Sind Ihre Preise für Takeway und Delivery angepasst?
          Mit den dynamischen Preisen können Sie orts- und zeitabhängig Ihre Preise anpassen.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '🧭  ';">
          <h3>Ortsabhängige Preise</h3>
          <p>Ortsabhängige Preise erlauben gezielt für gewisse Tisch (z.B. im Garten) oder Take Away und Delivery auf
            einzelnen Artikeln oder Optionen von Artikeln andere Preise anzubieten.</p>
        </li>
        <li style="list-style: '⏱  ';">
          <h3>Zeitabhängige Preise</h3>
          <p>Sind Ihre Preise abhängig vom Wochentag oder der Tageszeit? Zeitabhängige Preise erlaubt es Ihnen einzelne
            Artikel oder Optionen von Artikel je nach Zeit zu speziellen Preisen anzubieten.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Artikel Optionen</h2>
        <Picture alt="Optionen für eine Pizza. Kleine Pizza, mehr Zutaten, weitere Teller"
          src="/src/images/optionen.png" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '💎  ';">
          <h3>Kostenpflichtige Optionen</h3>
          <p>Gewisse Optionen machen einen Preisaufschlag oder Abschlag nötig. Mit Gaston entscheiden Sie was eine
            Option kosten soll. Es ist sogar möglich, die Optionspreise zeit- und ortsabhängig anzupassen.</p>
        </li>
        <li style="list-style: '😁  ';">
          <h3>Kostenlose Optionen</h3>
          <p>Auch kostenlose Optionen sind mit Gaston möglich. Entsprechend wird dies den Gästen angezeigt. Bei den
            Optionen sind Ihnen fast keine Grenzen gesetzt. Egal was Ihnen in den Sinn kommt, wahrscheinlich kann dies
            Gaston.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Artikel Variationen</h2>
        <Picture
          alt="Unterschiedliche Mengen des selben Weins und deren Preis wird direkt auf der Speisekarte angezeigt."
          src="/src/images/variationen.png" />
      </div>
      <ul style="flex: 1">
        <li style="list-style: '👨‍👩‍👧‍👦  ';">
          <h3>Unterschiedliche Portionen</h3>
          <p>Haben Sie unterschiedliche Portionen für die gleiche Speise? Beispielsweise eine kleine und eine grosse
            Portion? Oder die selbe Speise für mehrere Personen? Mit Gaston können Sie unterschiedliche Portionen klar
            ausweisen und entsprechend die Preise anzeigen.</p>
        </li>
        <li style="list-style: '🍷  ';">
          <h3>Unterschiedliche Mengen</h3>
          <p>Besonders bei Getränken, kommt es häufig vor, dass man unterschiedliche Mengen anbieten möchte. Egal ob 2,
            3, 5 dl oder eine Flasche, die Gäste sehen transparent was Sie zu welchem Preis anbieten.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Kassenanbindung</h2>
        <p>Gaston kann mit Ihrer Kasse kommunizieren. So kann Gaston die Bestellungen an die Kasse schicken und die
          Artikel-Informationen inkl. Preise aus Ihrer Kasse importieren.</p>
      </div>
      <ul style="flex: 1">
        <li style="list-style: '📡  ';">
          <h3>Bestellung/Bezahlung an die Kasse senden</h3>
          <p>Gaston kann die Bestellungen und Zahlungen an die Kasse übermitteln. So sehen Sie auf der Kasse die
            Bestellungen und ob die Zahlung bereits abgeschlossen wurde. Das Trinkgeld wird als separate Bestellung
            übermittelt, damit eine Abgrenzung möglich ist.</p>
        </li>
        <li style="list-style: '🚀  ';">
          <h3>Artikel aus der Kasse importieren</h3>
          <p>Falls Sie alle Produkt-Informationen und Preise in Ihrer Kasse pflegen, importieren wir bei Änderungen die
            neusten Informationen automatisch. So ist ihr Angebot stets aktuell und es entsteht kein Mehraufwand für
            Sie.</p>
        </li>
      </ul>
    </div>

    <div class="columns">
      <div style="flex: 1">
        <h2>Eigenes Design</h2>
        <p>Ihr Betrieb hat einen eigenen Stil. Dies sollte Ihre Speisekarte reflektieren. Sie gestalten Ihre Speisekarte
          nach ihrem Gusto, farbenfroh und mit Bilder oder schlicht und einfach nur mit Text.</p>
        <Picture alt="Speisekarte mit Bilder für jede Kategorie." src="/src/images/el-mosquito.png" />

      </div>
      <ul style="flex: 1">
        <li style="list-style: '💈  ';">
          <h3>Logo</h3>
          <p>Ihr Logo ist gross und deutlich jederzeit auf der Speisekarte sichtbar. So bleiben Sie in Erinnerung.</p>
        </li>
        <li style="list-style: '🎨  ';">
          <h3>Farben</h3>
          <p>Wählen Sie Ihre Akzent-Farbe, die Farben für den Text und den Hintergrund. Falls Sie weitere Elemente
            spezielle färben möchten, machen wir dies auf Anfrage sehr gerne für Sie.</p>
        </li>
        <li style="list-style: '✏️  ';">
          <h3>Schriften</h3>
          <p>Sie können entweder aus über 1'000 Schriftarten wählen oder Ihre eigene Hausschrift in der Speisekarte
            verwenden.</p>
        </li>
        <li style="list-style: '🏞  ';">
          <h3>Bilder</h3>
          <p>Falls Sie wünschen, können Bilder auf jedem Artikel hinterlegt werden. Zudem können sie für jede Kategorie
            zwei Bilder definieren, welche oben und unten angezeigt werden.</p>

        </li>
        <li style="list-style: '📝  ';">
          <h3>Texte</h3>
          <p>Bei Gaston können Sie eine Vielzahl von Texte hinterlegen, falls Sie wollen. Dies beinhaltet eine
            Einführung zu Ihrem Angebot und Beschreibung Ihres Betriebs. Auf jeder Kategorie können über und unter den
            Artikeln frei Texte zur Erklärung oder für Hinweise hinzugefügt werden. Auch die Geschäftsbedingungen und
            die Texte auf der Quittung können von Ihnen definiert werden.</p>
        </li>
      </ul>
    </div>
  </Container>
</Main>

<style lang="scss">
  h2 {
    margin-top: 3em;
  }

  img {
    width: 35%;
    margin-right: 10%;
  }
</style>