---
  import { SEO } from 'astro-seo'

  import MainLayout from '@layouts/Main.astro'
  import Container from '@components/Container.astro'
  import ButtonLink from '@components/ButtonLink.astro'

  import FixedPicture from '@components/FixedPicture.astro'

  const description =
    'Gaston die digitale Speisekarte erlaubt es den Gästen schnell und einfach zu bestell und bezahlen. Dabei spielt es keine Rolle, ob die Gäste in ihrem Betrieb, unterwegs oder Zuhause sind. Gaston unterstützt die Bestellung in Ihrem Betrieb, Take-Away und Delivery.'
  const title =
    'Gaston • Digitale Speisekarte • Mehr Gäste mit weniger Personal schneller bedienen.'
---

<head>
  <SEO {title} {description} />
</head>

<MainLayout>
  <Container>
    <h1>
      <b>Gaston</b>
      <br />
      <small> Digitale Speisekarte </small>
    </h1>
    <p class="claim">Mehr Gäste mit weniger Personal schneller bedienen.</p>
    <div class="animation">
      <img src="/assets/hero-gaston-vs-menu.svg"
        alt="Bestellen mit Speisekarte mühsam, mit Gaston App schnell und einfach" height="150" width="204" />
    </div>
    <ul class="usps">
      <li>Aussuchen, Bestellen, Bezahlen ohne Personal.</li>
      <li>Alle Kanäle bedienen: Inhouse, Takeaway, Delivery.</li>
      <li>Überall verfügbar: Auf dem Handy, Tablet und Ihrer Webseite.</li>
      <li>Mit oder ohne Kasse, flexible auf Ihre Bedürfnisse.</li>
      <li>Ihr Betrieb, Ihr Style; auch in der der App.</li>
    </ul>

    <div class="button-list">
      <ButtonLink href="offers/">Jetzt bestellen</ButtonLink>
      <ButtonLink href="qr-code-demo/">Demo starten</ButtonLink>
    </div>
  </Container>
  <section id="customers">
    <Container>
      <h2>Auswahl unserer Kunden</h2>
      <ul class="image-list">
        <li>
          <FixedPicture src="/src/images/customers/el-mosquito.png" alt="El-Mosquito" placeholder={'tracedSVG'}
            height={60} />
        </li>
        <li>
          <FixedPicture src="/src/images/customers/gspan.jpg" alt="Hotel Gspan" placeholder={'tracedSVG'} height={60} />
        </li>
        <li>
          <FixedPicture src="/src/images/customers/seehaus-grill.png" alt="Seehaus-Grill" placeholder={'tracedSVG'}
            height={60} />
        </li>
        <li>
          <FixedPicture src="/src/images/customers/sugoi-sushi-300.png" alt="Sugoi Sushi" placeholder={'tracedSVG'}
            height={60} />
        </li>
        <li>
          <FixedPicture src="/src/images/customers/lamassu.png" alt="Restaurant Lamassu" placeholder={'tracedSVG'}
            height={60} />
        </li>
        <li>
          <FixedPicture src="/src/images/customers/habsburg-bar.png" alt="Habsburg-Bar" placeholder={'tracedSVG'}
            height={60} />
        </li>
      </ul>
    </Container>
  </section>
  <section id="das-ist-gaston" class="background">
    <Container>
      <div class="columns" style="align-items: start;">
        <div style=" flex: 1;">
          <h2>Das ist Gaston</h2>
          <p>So sehen Ihre Gäste Gaston, direkt auf dem Handy oder auf Ihrer Webseite. Schlicht, einfach, zuvorkommend.
            Sie gestalten Ihre Speisekarte nach ihrem
            Gusto, farbenfroh und mit Bilder oder einfach nur mit Text.</p>
          <p>Alles ohne Installation einer App und ohne Registrierung.</p>
          <p>Testen Sie mich!&emsp;<span style="font-size: 3em; vertical-align: middle;">➜</span></p>
        </div>
        <div class="mobile-wrapper" style="flex: 1"><iframe
            src="https://demo.gastonsolution.com/811f84b2-15f8-440d-8074-58ce5cce13f8/?table=7"
            frameborder="0"></iframe>
        </div>
      </div>
    </Container>
  </section>
  <section id="warum-gaston">
    <Container>
      <div class="columns">
        <div>
          <h2>So hilft Gaston</h2>
          <p>Gaston hilft Ihnen und Ihre Gäste glücklich zu machen. Gaston sorgt nicht bloss für
            zufriedene Gäste sondern auch zufriedenes Personal.</p>
        </div>
        <ul>
          <li>
            <h3>Personalmangel bewältigen</h3>
            <p>Personal zu finden ist eine sehr grosse Herausforderung. Gaston nimmt einen Teil der Arbeit ab, damit Ihr
              Betrieb auch mit reduziertem Personal funktioniert.</p>
          </li>
          <li>
            <h3>Gäste glücklich machen</h3>
            <p>Ihr Gäste warten ungern bis sie bestellen oder bezahlen können. Gaston erlaubt es den Gästen ohne
              Wartezeit zu bestellen und zu bezahlen.</p>
          </li>
          <li>
            <h3>Gastgeber:in sein</h3>
            <p>Sie sind Gastgeber:in. Sie würden gerne so viel Zeit wie möglich in das "Gastgeben" investieren. Gaston
              nimmt ein Teil der Arbeit ab, damit Ihr Personal und Sie mehr Zeit für das "Gastgeben" haben.</p>
          </li>
        </ul>
      </div>
    </Container>
  </section>
  <section id="bestellen-mit-gaston" class="background">
    <Container>
      <div class="columns">
        <div style="flex: 1">
          <h2>Drei Schritte zum Genuss</h2>
          <p>
            Mit Gaston bestellen und bezahlen Gäste schnell und einfach. Kein
            Anmeldung, keine App herunterladen.
          </p>
          <ButtonLink href="contact/">Kann Gaston Ihren Anwendungsfall abdecken?</ButtonLink>
        </div>
        <ol class="description-list ordered-list" style="flex: 1">
          <li>
            <p class="description-wrapper">QR-Code scannen</p>
            <div class="image-wrapper">
              <img src="/assets/index/scan.svg" alt="QR-Code scannen" loading="lazy" height="150" width="130" />
            </div>
          </li>
          <li>
            <p class="description-wrapper">Bestellen</p>
            <div class="image-wrapper">
              <img src="/assets/index/order.svg" alt="Bestellen" loading="lazy" height="150" width="133" />
            </div>
          </li>
          <li>
            <p class="description-wrapper">Bezahlen</p>
            <div class="image-wrapper">
              <img src="/assets/index/pay.svg" alt="Bezahlen" loading="lazy" height="150" width="110" />
            </div>
          </li>
        </ol>
      </div>
    </Container>
  </section>
  <section id="features-von-gaston">
    <Container>
      <h2>Verkaufskanäle</h2>
      <p>
        Gaston kann in ganz unterschiedlichen Situation eingesetzt werden. Gäste
        können direkt in ihrem Restaurant vom Tisch aus bestellen, von Zuhause
        mit Delivery oder unterwegs mit Takeaway. Sind Sie nicht sicher, ob
        Gaston ihr Szenario abdeckt? Nehmen Sie mit uns <a href="contact/">Kontakt</a> auf.
      </p>
      <ul class="horizontal-list">
        <li>
          <div>
            <img src="/assets/index/inhouse.svg" alt="Im Betrieb" loading="lazy" height="150" width="154" />
            <p>Im Betrieb (Inhouse)</p>
          </div>
        </li>
        <li>
          <div>
            <img src="/assets/index/take-away.svg" alt="Take Away" loading="lazy" height="150" width="182" />
            <p>Take Away</p>
          </div>
        </li>
        <li>
          <div>
            <img src="/assets/index/delivery.svg" alt="Delivery" loading="lazy" height="150" width="134" />
            <p>Delivery</p>
          </div>
        </li>
      </ul>
    </Container>
  </section>
  <section id="zahlung-mit-gaston" class="background">
    <Container>
      <h2>So bezahlen Gäste</h2>
      <p>
        Falls Sie Ihren Gästen die Möglichkeit geben wollen direkt in der App zu
        bezahlen, so unterstützen wir mehrere Zahlungsmittel und
        Zahlungsprovider (PSP). Wenn Sie nicht wollen, müssen Ihre Gäste nicht
        in der App bezahlen.
      </p>
      <div class="columns">
        <div style="flex: 1">
          <h3>Zahlungsmittel</h3>
          <p>
            Gaston unterstützt die gängigsten Zahlungsmittel in der Schweiz.
            Welche Zahlungsmittel verfügbar sind, ist von Ihrem Zahlungsprovider
            und den entsprechenden Verträgen abhängig.
          </p>
        </div>
        <ul class="horizontal-list small" style="flex: 1; margin-top: 4em;">
          <li>
            <img src="/assets/index/twint.svg" alt="Twint" loading="lazy" />
            <p>Twint</p>
          </li>
          <li>
            <img src="/assets/index/card.svg" alt="Kredit- & Debitkarten" loading="lazy" />
            <p>Kredit- und Debitkarten</p>
          </li>
        </ul>
      </div>

      <hr />

      <div class="columns">
        <div style="flex: 1">
          <h3>Zahlungsprovider</h3>
          <p>
            Zur Zeit unterstützt Gaston die zwei grössten Zahlungsprovider der
            Schweiz. Falls Sie einen anderen Zahlungsprovider wünschen, schauen
            wir dies gerne an.
          </p>
        </div>
        <ul class="horizontal-list small" style="flex: 1; margin-top: 4em;">
          <li>
            <img src="/assets/index/datatrans.svg" alt="Datatrans" loading="lazy" />
            <p>Datatrans</p>
          </li>
          <li>
            <img src="/assets/index/worldline.svg" alt="Worldline" loading="lazy" />
            <p>Worldline (ehemals Saferpay)</p>
          </li>
        </ul>
      </div>
    </Container>
  </section>
  <section id="so-funktioniert-gaston">
    <Container>
      <h2>So funktioniert Gaston</h2>
      <p>Gaston funktioniert mit oder ohne Kasse.</p>
      <div class="columns">
        <div style="flex: 1">
          <h3>Mit Kasse</h3>
          <p>
            Gaston kann die Bestellungen an Ihre Kasse übermitteln. Nehmen Sie
            mit uns <a href="contact">Kontakt</a> auf, um ihre Kassenanbindung zu
            besprechen.
          </p>
        </div>
        <ol class="description-list ordered-list" style="flex: 2">
          <li>
            <p class="description-wrapper">Gast bestellt</p>
            <div class="image-wrapper">
              <img src="/assets/index/scan.svg" alt="Gast bestellt" loading="lazy" />
            </div>
          </li>
          <li>
            <p class="description-wrapper">Kasse registriert Bestellung</p>
            <div class="image-wrapper">
              <img src="/assets/index/pos.svg" alt="Kasse" loading="lazy" />
            </div>
          </li>
          <li>
            <p class="description-wrapper">
              Kasse schickt Bestellung in die Küche
            </p>
            <div class="image-wrapper">
              <img src="/assets/index/kitchen.svg" alt="Bondrucker in der Küche" loading="lazy" />
            </div>
          </li>
        </ol>
      </div>

      <hr />

      <div class="columns">
        <div style="flex: 1">
          <h3>Ohne Kasse</h3>
          <p>
            Gaston funktioniert hervorragend auch ohne Kasse. Alle Ihre
            Bestellungen sind bei uns im Dashboard ersichtlich und können an
            einen Bondrucker in der Küche oder Bar ausgedruckt werden.
          </p>
        </div>
        <ol class="description-list ordered-list" style="flex: 2">
          <li>
            <p class="description-wrapper">Gast bestellt</p>
            <div class="image-wrapper">
              <img src="/assets/index/scan.svg" alt="Gast bestellt" loading="lazy" />
            </div>
          </li>
          <li>
            <p class="description-wrapper">
              Gaston schickt die Bestellung direkt in die Küche
            </p>
            <div class="image-wrapper">
              <img src="/assets/index/kitchen.svg" alt="Bondrucker in der Küche" loading="lazy" />
            </div>
          </li>
        </ol>
      </div>
    </Container>
  </section>
  <section id="stylen-mit-gaston" class="background">
    <Container>
      <h2>Ihr Style</h2>
      <p>
        Ihr Betrieb hat einen einzigartigen Style. Ihr Speisekarte-/Bestell-App
        sollte dies reflektieren. Sie können das Aussehen jederzeit selber
        anpassen und auch die Bilder und Grafiken für Kategorien und Artikel
        selber einfügen.
      </p>
      <ul class="horizontal-list">
        <li>
          <FixedPicture src="/src/images/el-mosquito.png" alt="El-Mosquito" width={300} />
        </li>
        <li>
          <FixedPicture src="/src/images/habsburg.png" alt="Habsburg-Bar" width={300} />
        </li>
        <li>
          <FixedPicture src="/src/images/sugoisushi.png" alt="Sugoi Sushi" width={300} />
        </li>
      </ul>
    </Container>
  </section>
  <section id="partner-von-gaston">
    <Container>
      <h2>Unsere Partner</h2>
      <ul class="image-list high">
        <li>
          <a href="https://www.flm.ch/">
            <FixedPicture src="/src/images/partners/flm.png" alt="FLM Kassensysteme" height={180} layout={'fixed'} />
            <p>FLM Kassensysteme</p>
          </a>
        </li>
      </ul>
    </Container>
  </section>

  <section id="roadmap-von-gaston">
    <Container>
      <h2>Roadmap</h2>
      <p>
        Gaston wird ständig weiterentwickelt. Auf unserer Roadmap sieht man
        welche Features nächstens verfügbar sind. Haben Sie einen speziellen
        Wunsch? Wir nehmen dies gerne in die Roadmap auf.
      </p>
      <ButtonLink href="https://www.notion.so/gastonsolution/Roadmap-von-Gaston-6644875d1fba4fe58cacfbf15e1ace7e">
        Roadmap
      </ButtonLink>
    </Container>
  </section>
  <Container>
    <div class="button-list">
      <ButtonLink href="offers/">Jetzt bestellen</ButtonLink>
      <ButtonLink href="qr-code-demo/">Demo starten</ButtonLink>
    </div>
  </Container>
</MainLayout>

<style lang="scss">
  h1 {
    text-align: center;
    font-size: 4em;
    margin: 0.5em 0;
    line-height: 0.6em;

    small {
      font-size: 40%;
      color: var(--text-color);
    }
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  hr {
    margin-block: 3em;
    border: none;

    @media (min-width: 40rem) {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: var(--primary-color);

      .background & {
        border-top-color: white;
      }
    }
  }

  .claim {
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
  }

  .animation {
    margin: 0 max(-4em, -4vw) 0.2em;

    img {
      height: 100%;
      width: 100%;
      max-height: calc(90vh - 4rem);
    }
  }

  .usps {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    list-style: none;
    padding-left: 1em;

    li {
      padding-left: 1em;
      padding-bottom: 0.6em;

      &::before {
        content: '● ';
        position: absolute;
        font-size: 1.6em;
        transform: translate(-1em, -0.3em);
        color: var(--primary-color);
      }
    }
  }

  .ordered-list {
    counter-reset: ordered-list-counter;

    .description-wrapper {
      padding-left: 1em;
      counter-increment: ordered-list-counter;

      &::before {
        content: counter(ordered-list-counter) '. ';
        margin-left: -1em;
      }
    }
  }

  .description-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
      display: flex;
      flex-direction: row;
      font-size: 1.4em;
      gap: 2rem;

      .image-wrapper {
        flex: 0 1 8rem;
        max-width: 12rem;
        margin-inline: auto;
      }

      .description-wrapper {
        flex: 1 1 0%;
        font-weight: 600;
        padding-left: 1em;

        &::before {
          margin-left: -1em;
        }
      }

      @media (min-width: 40rem) {
        font-size: 1.8em;
      }
    }
  }

  .button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em 1em;
    font-size: 1.3em;
    margin-top: 4em;
    margin-bottom: 1em;
  }

  ul.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3em 4em;
    padding: 0;
    margin-top: 4em;

    li {
      list-style: none;
      margin-inline: auto;

      ::global(img) {
        width: 100%;
      }

      p {
        margin-top: 0.2em;
      }
    }

    &.high {
      li ::global(img) {
        height: 180px;
        width: 100%;
      }
    }
  }

  .horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 4em;

    li {
      flex: 1 0 10rem;
      text-align: center;
      max-width: 300px;

      &::marker {
        font-size: 2em;
      }
    }

    &.small li {
      flex: 0 1 10rem;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 250px;
      max-height: 200px;
      margin-inline: auto;
      padding-block-start: 1em;
    }

    &.small img {
      height: 5rem;
    }

    p {
      font-weight: 600;
    }
  }

  .background {
    position: relative;
    color: white;
    z-index: 5;

    &::before {
      content: ' ';
      position: absolute;
      inset: -1em 0;
      background-image: linear-gradient(rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)),
        url(/assets/curve.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      z-index: -1;
    }
  }

  h3 {
    font-size: 1.5em;
    color: var(--primary-color);

    .background & {
      color: white;
    }

    @media (min-width: 40rem) {
      font-size: 2em;
    }
  }

  #payment {
    .description-wrapper {
      font-size: 0.7em;
    }
  }

  .mobile-wrapper {
    position: relative;
    aspect-ratio: 0.6;
    border-inline-width: 0.6em;
    border-block-width: 1em;
    border-style: solid;
    border-color: #222;
    border-radius: 2em;
    overflow: hidden;
    max-width: 360px;
    background-color: #222;
    box-shadow: 0px 10px 30px -9px #0008;

    iframe {
      display: block;
      position: absolute;
      inset: 0;
      block-size: 100%;
      inline-size: 100%;
    }
  }
</style>