---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'

const description =
  'Haben Sie ein Frage zu Payflink, der digitalen Speisekarte? Wir helfen Ihnen gerne.'
---

<Main title="Kontakt" description={description}>
  <Container>
    <h1>Kontakt</h1>
    <div class="columns">
      <div style="flex: 1">
        <h2>Payflink</h2>
        <h3>Email Anfragen</h3>
        <a href="mailto:mail@payflink.com">mail@payflink.com</a>
        <h3>Anfragen</h3>
        <a href="tel:+41625614243">+41 62 561 42 43</a>
        <h3>Email Support</h3>
        <a href="mailto:support@payflink.com">support@payflink.com</a>
        <h3>Support</h3>
        <a href="tel:+41625614244">+41 62 561 42 44</a>
        <h3>Adresse</h3>
        <address>
          Hauptstrasse 64<br />
          5035 Unterentfelden <br />
          Schweiz
        </address>
      </div>
      <div style="flex: 1">
        <h2>Termin vereinbaren</h2>
        <p>Haben Sie Fragen zu Payflink oder unserem Angebot? Vereinbaren Sie ein Termin in vier Klicks!</p>
        <ButtonLink href="/de/termin/">Termin vereinbaren</ButtonLink>
      </div>
    </div>
  </Container>
</Main>