---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'

const description =
  'Haben Sie ein Frage zu Gaston, der digitalen Speisekarte? Wir helfen Ihnen gerne.'
---

<Main title="Kontakt" description={description}>
  <Container>
    <h1>Kontakt</h1>
    <div class="columns">
      <div style="flex: 1">
        <h2>Gaston by Apptiva</h2>
        <h3>Email</h3>
        <p>support@gastonsolution.com</p>
        <h3>Anfragen</h3>
        <p>+41 41 322 26 26</p>
        <h3>Support</h3>
        <p>+41 41 562 01 11</p>
        <h3>Adresse</h3>
        <address>
          Eichweid 1<br />
          6203 Sempach Station <br />
          Schweiz
        </address>
      </div>
      <div style="flex: 1">
        <h2>Termin vereinbaren</h2>
        <p>Haben Sie Fragen zu Gaston oder unserem Angebot? Vereinbaren Sie ein Termin in vier Klicks!</p>
        <ButtonLink href="/de/termin/">Termin vereinbaren</ButtonLink>
      </div>
    </div>
  </Container>
</Main>