---
import { SEO } from 'astro-seo'

import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import { titlePart } from 'src/config'

const description =
  'Gaston wurde 2019 mit der Vision gegründet, den Bestellungs- und Bezahlungsprozess in Restaurants, Cafés und Bars zu revolutionieren.'
const title = `Unsere Mission • ${titlePart}`

---

<head>
  <SEO {title} {description} />
</head>

<Main>
  <Container>
    <h1>Unsere Mission</h1>
    <p>
      <b>Gaston</b> wurde 2019 mit der Vision gegründet, den Bestellungs- und Bezahlungsprozess
      in Restaurants, Cafés und Bars zu revolutionieren.
    </p>
  </Container>
</Main>

<style lang="scss">
  .employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }

  .employee {
    width: 16rem;
    text-align: center;

    img {
      border-radius: 1000px;
      box-shadow: 0 0 60px 0px #ccc6;
    }
  }

  .employee-name {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0px;
  }
</style>