---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'
import Center from '@components/Center.astro'

const description =
  'Wählen Sie das passende Angebot für Ihre Bedürfnisse.'
---

<Main title="Preise und Leistungen" description={description}>
  <Container size="large">
    <h1>Preise und Leistungen</h1>
    <div class="plans-container">
      <div class="plan">
        <h2>Basic</h2>
        <p class="plan-subtitle">Sie wollen Gaston vor allem als Speisekarte einsetzen.</p>
        <ul>
          <li>
            <p>Speisekarte auf dem Handy, Tablet und Ihrer Webseite</p>
          </li>
          <li>
            <p>
              Für Inhouse, Take Away und Delivery Bestellungen entgegennehmen
            </p>
          </li>
          <li>
            <p>Zahlung über Gaston möglich</p>
          </li>
          <li>
            <p>1 Sprache</p>
            <p class="small">
              Weitere auf Anfrage.
            </p>
          </li>
          <li>
            <p>1 Speisekarte</p>
            <p class="small">
              Weitere auf Anfrage.
            </p>
          </li>
          <li>
            <p>Dashboard mit Bestell- und Zahlungsübersicht</p>
          </li>
          <li>
            <p>Telefonischer Support zu Bürozeiten</p>
          </li>
        </ul>
        <dl>
          <dt>Transaktionskosten</dt>
          <dd class="price">5,9% ٭</dd>
          <dt>Monatliche Grundgebühr / Betrieb</dt>
          <dd class="price">Kostenlos</dd>
        </dl>
        <Center>
          <ButtonLink href="basic/">Basic anfragen</ButtonLink>
        </Center>
      </div>
      <div class="plan" data-recommended="Häufig gewählt">
        <h2>Pro</h2>
        <p class="plan-subtitle">Sie planen regelmässige Umsätze mit Gaston.</p>
        <ul>
          <li>
            <p>Alle Leistungen von Basic</p>
          </li>
          <li>
            <p>Bon-Drucker, um Bestellungen auszudrucken</p>
          </li>
          <li>
            <p><b>Flatrate</b>: Keine Gaston-Kosten pro Bestellung ٭</p>
          </li>
          <li>
            <p>2 Sprachen</p>
            <p class="small">
              Weitere auf Anfrage.
            </p>

          </li>
          <li>
            <p>2 Speisekarten</p>
            <p class="small">
              Zeit- und ortsabhängig unterschiedliche Angebote und Preise. Weitere auf Anfrage.
            </p>
          </li>
          <li>
            <p>Telefonischer Support 7 Tage die Woche von 08:00 bis 20:00</p>
          </li>
        </ul>
        <dl>
          <dt>Transaktionskosten</dt>
          <dd class="price">Kostenlos ٭</dd>
          <dt>Monatliche Grundgebühr / Betrieb</dt>
          <dd class="price">CHF 179.-</dd>
        </dl>
        <Center>
          <ButtonLink href="pro/">Pro anfragen</ButtonLink>
        </Center>
      </div>

      <div class="plan">
        <h2>Deluxe</h2>
        <p class="plan-subtitle">Alle Funktionen von Gaston.</p>
        <ul>
          <li>
            <p>Alle Leistungen von Pro</p>
          </li>
          <li>
            <p>Bestellungen werden an die Kasse weitergeleitet</p>
          </li>
          <li>
            <p>Unbegrenzt Sprachen</p>
          </li>
          <li>
            <p>Unbegrenzt Speisekarten</p>
            <p class="small">
              Zeit- und ortsabhängig unterschiedliche Angebote und Preise.
            </p>
          </li>
          <li>
            <p>Erreichbar auf Ihrer Domäne/URL</p>
          </li>
          <li>
            <p>White Label</p>
            <p class="small">
              Gaston Label ist nicht sichtbar.
            </p>
          </li>
          <li>
            <p>24/7 Support</p>
          </li>
        </ul>
        <dl>
          <dt>Transaktionskosten</dt>
          <dd class="price">Kostenlos ٭</dd>
          <dt>Monatliche Grundgebühr / Betrieb</dt>
          <dd class="price">CHF 699.-</dd>
        </dl>
        <Center>
          <ButtonLink href="deluxe/">Deluxe anfragen</ButtonLink>
        </Center>
      </div>

      <div class="plan pos">
        <h2>Enterprise</h2>
        <p class="plan-subtitle">
          Sie wollen Gaston in mehreren Betrieben einsetzen.
        </p>
        <ul>
          <li>
            <p>Gaston in mehreren Betrieben</p>
          </li>
          <li>
            <p>Individuelle Leistungen</p>
          </li>
          <li>
            <p>Individueller Support</p>
          </li>
        </ul>
        <p class="price pos">Auf Anfrage</p>
        <Center>
          <ButtonLink href="enterprise/">Enterprise anfragen</ButtonLink>
        </Center>
      </div>
    </div>
    <ul>
      <li style="list-style-type: '٭ ';">
        Die Transaktionskosten des Zahlungsproviders (beispielsweise Worldline oder
        Datatrans) fallen in jedem Plan an. Im Basic-Plan erheben wir zusätzliche Transaktionskosten pro Bestellung oder
        Bezahlung.
      </li>
    </ul>
  </Container>
  <Container size="small">
    <h2>Einzeln dazu erhältliche Leistungen</h2>

    <div class="feature">
      <div class="heading">
        <h3>Ihre Domäne/URL</h3>
      </div>
      <p>
        Gaston ist auf Ihrer Domäne/URL erreichbar.
      </p>
      <p class="price">+ CHF 29.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Weitere Bon-Drucker</h3>
      </div>
      <p>Bon-Drucker um die Bestellungen auszudrucken.</p>
      <p class="price">
        + CHF 39.- <small>/ Monat / Ducker</small>
      </p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Unbegrenzt Sprachen</h3>
      </div>
      <p>Ihre Speisekarte ist in mehreren Sprachen verfügbar.</p>
      <p class="price">+ CHF 39.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Unbegrenzt Speisekarten</h3>
      </div>
      <p>
        Ja nach Bestellzeit und -ort können das Angebot oder die Preise
        unterschiedlich sein.
      </p>
      <p>
        Die ist ideal, um die Preise zur Happy-Hour anzupassen, oder um das Angebot auf die Küchenöffnungszeiten
        abzustimmen. Damit ist es auch möglich für Inhouse, Take Away und
        Delivery ein unterschiedliches Angebot oder auch unterschiedliche Preise
        anzubieten.
      </p>

      <p class="price">+ CHF 59.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>White Label</h3>
      </div>
      <p>
        Es sind keine Hinweise auf das Gaston Label vorhanden.
      </p>
      <p class="price">+ CHF 99.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Kassenanbindung</h3>
      </div>

      <p>Die Gaston-Bestellungen werden direkt an Ihre Kasse übermittelt.</p>
      <p class="price">+ CHF 159.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>24h Support </h3>
      </div>
      <p>Wir sind bei Störungen täglich 24h für Sie erreichbar.</p>
      <p class="price">+ CHF 199.- <small>/ Monat / Betrieb</small></p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Unterstützung beim Einrichten und Einpflegen der Daten</h3>
      </div>
      <p>
        Wir unterstützen Sie bis zu vier Wochen beim Einrichten von Gaston telefonisch oder je nach Distanz auch vor
        Ort.
      </p>
      <p class="price">
        CHF 390.- <small>einmalig</small>
      </p>
    </div>

    <div class="feature">
      <div class="heading">
        <h3>Individuelles Design</h3>
      </div>
      <p>
        Sie haben spezielle Ansprüche an das Design der Speisekarte. Wir können
        fast alle Wünsche erfüllen.
      </p>
      <p class="price">
        ab CHF 490.- <small>einmalig</small>
      </p>
    </div>

    <div class="feature pos">
      <div class="heading">
        <h3>Klassische Kasse</h3>
      </div>
      <p>
        Haben Sie zusätzlich Bedarf an einer klassischen Kasse? Mit unseren Partnern können wir Ihnen ein attraktives
        Paket anbieten.
      </p>
      <p class="price">
        Nehmen Sie mit uns <a href="/de/kontakt/">Kontakt</a> auf.
      </p>
    </div>
  </Container>
</Main>

<style lang="scss">
  dl {
    margin-block: 0.5em;

    dt {
      font-size: 0.6em;
    }

    dd {
      margin: 0 0 0.5em;
    }
  }

  i {
    color: var(--primary-color);
  }

  .plans-container {
    display: grid;
    gap: 2em 1em;

    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .plan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--primary-color);
    padding: 3rem 1rem 1rem;
    text-align: center;

    h2 {
      font-size: 2em;
      margin-block: 0.3em 0;
    }

    .plan-subtitle {
      flex: 0 0 3rem;
      font-weight: bold;
      margin-block: 1.2em;
    }

    &[data-recommended] {
      border-width: 3px;
      margin: -2px;

      &:before {
        position: absolute;
        inset: 0 0 auto 0;
        box-sizing: border-box;
        width: 100%;
        content: attr(data-recommended);
        color: white;
        background-color: var(--primary-color);
        padding: 0.2em;
        border: 3px solid var(--primary-color);
        text-align: center;
        margin-bottom: -2em;
      }
    }
  }

  .pos {
    border-color: var(--text-color);
    background-color: var(--light-background-color);
  }

  .price {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--primary-color);

    &.pos {
      color: var(--text-color);
    }
  }

  ul {
    flex: 1;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 1.5em;
  }

  li {
    margin-block: 1em;

    p {
      margin: 0;

    }

    .small {
      font-size: 0.7em;
    }

    &::marker {
      font-size: 1.2em;
      color: var(--primary-color);
    }
  }

  .selection-button {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .feature {
    padding: 1.5em 2em;
    margin-bottom: 2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--primary-color);

    h3 {
      margin-block: 0 0.3rem;
      color: var(--primary-color);
    }

    p {
      margin-block: 0 0.5em;
    }

    .heading {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: 0.5em 2em;

      p {
        font-size: 0.9em;
        margin-left: auto;
      }
    }

    .price {
      text-align: right;
      margin: 0;

      i {
        color: var(--text-color);
      }
    }
  }
</style>