---
import Main from '@layouts/Main.astro'
import ButtonLink from '@components/ButtonLink.astro'
import Container from '@components/Container.astro'
---

<Main title="Demo • Gaston">
  <Container>
    <h1>Demo</h1>
    <h2>Erleben Sie den Besuch bei Ihnen aus Sicht Ihrer Gäste!</h2>
    <p>
      In der Demoversion können Sie den Bezahlungsablauf durchspielen. <br
      />Wählen Sie für die Demo einfach ein beliebiges Zahlungsmittel aus. Es
      findet dabei keine Zahlung statt.
    </p>
    <img
      src="/assets/qr-code-table-7.svg"
      height="300"
      width="300"
      alt="qr-code scan me"
    />
    <p>
      <ButtonLink
        href="https://demo.gastonsolution.com/?table=7"
        target="_blank"
      >
        Ohne QR-Code testen
      </ButtonLink>
    </p>
  </Container>
</Main>
