---
import ButtonLink from "@components/ButtonLink.astro";
import Container from "@components/Container.astro";
import FixedPicture from "@components/FixedPicture.astro";
import Main from "@layouts/Main.astro";


---

<Main>
  <Container>
    <article>
      <h1>Restaurant Bestell App</h1>
      <p class="subtitle">Unsere Restaurant Bestell App hat ein Ziel: Die Bestellung und Zahlung für die Gäste so
        einfach wie möglich zu gestalten.</p>
      <div class="columns">
        <div style="flex: 1" class="right-align">
          <FixedPicture alt="Restaurant Bestell App" src="/src/images/restaurant-bestell-app.png" width={250} />
        </div>
        <p style="flex: 1">Wir haben besonders darauf geachtet, dass eine Bestellung in der App mit möglichst wenig
          Eingaben und Klicks möglich ist. Bei Bestellungen vom Tisch verlangen wir keine Email-Adresse oder
          Telefonnummer. Bei der Zahlung verlangen wir nur die nötigsten Angaben.</p>
      </div>
      <h2>Bestellen im Restaurant</h2>
      <div class="columns">
        <p style="flex: 1">In Ihrem Restaurant bestellen auch immer wieder neue Gäste. Diese sollen mit der App ohne
          Erklärung in Ihrem Angebot schmökern und etwas bestellen können. Entsprechend haben wir das Bestellen in der
          App so einfach wie nur möglich gestaltet. Gleichzeitig ist es auch wichtig, Ihr Angebot im besten Licht zu
          präsentieren. Deshalb achten wir auf eine erstklassige Präsentation Ihrer Speisen und Getränke.</p>
        <div style="flex: 1" class="left-align">
          <FixedPicture alt="Restaurant Bestell App" src="/src/images/variationen.png" width={250} />
        </div>
      </div>
      <h2>Bestellen mit der App</h2>
      <p>Das Bestellen mit der Restaurant Bestell App ist sehr einfach.</p>
      <div class="columns">
        <div style="flex: 1" class="right-align">
          <FixedPicture alt="Restaurant Bestell App" src="/src/images/bestellung.png" width={250} />
        </div>
        <ol style="flex: 1">
          <li>Den QR-Code auf dem Tisch mit dem persönlichen Handy scannen.</li>
          <li>Die gewünschten Speise mit <svg viewBox="0 0 24 24">
              <path d="M 2,12 L 22,12 M 12,2 L 12,22" />
            </svg> auswählen.</li>
          <li>Die Bestellung öffnen und prüfen.</li>
          <li>Die Bestellung übermitteln.</li>
        </ol>
      </div>
      <div class="columns">
        <p style="flex: 1">Falls Sie Speisen oder Getränke in unterschiedlichen Ausführen anbieten, so haben Ihre Gäste
          die Möglichkeit genau zu definieren, in welcher Ausführung sie die Artikel bestellen möchten. Falls Sie etwas
          zwingend von den Gästen wissen müssen (wie z.B. die Garstufe bei einem Steak), so werden die Gäste von der App
          aufgefordert, die gewünschte Option zu wählen.</p>
        <div style="flex: 1" class="right-left">
          <FixedPicture alt="Restaurant Bestell App" src="/src/images/optionen.png" width={250} />
        </div>
      </div>
      <h2>Bezahlen mit der App</h2>
      <div class="columns">
        <p style="flex: 1">Je nach Konfiguration der App bezahlen die Gäste bei jeder Bestellung oder erst vor dem
          verlassen des Restaurants. In beiden Fällen ist das Bezahlen einfach.</p>
        <ol style="flex: 1">
          <li>Betrag bestätigen</li>
          <li>Zahlungsmittel wählen.</li>
          <li>Zahlung bestätigen.</li>
        </ol>
      </div>
      <p>
        Am Ende der Bezahlung in der App können die Gäste die Quittung herunterladen.
      </p>
      <h2>Demo: Restaurant Bestell App</h2>
      <div class="columns">
        <p style="flex: 1">Mit Gaston haben Sie eine App, mit der Ihre Gäste einfach bestellen und bezahlen können.
          Dabei achten wir besonders auf eine einfache Bedienung und attraktive Präsentation. So hoffen wir, dass auch
          Ihre Gäste von Gaston in Ihrem Restaurant begeistert sind.</p>
        <div style="flex: 1">
          <p>Verschaffen Sie sich einen Eindruck der App mit unserer Demo. Hier können Sie in einer Test-Umgebung nach
            Lust und Laune unsere Bestell-App in einem fiktiven Restaurant ausprobieren. Machen Sie eine Bestellung!</p>
          <ButtonLink href="/de/demo/">Zur Demo der App</ButtonLink>
        </div>
      </div>
    </article>

  </Container>
</Main>

<style is:global>
  article {
    margin-bottom: 4em;
  }

  img {
    width: 100%;
  }

  picture {
    margin-bottom: 2em;
  }
</style>

<style>
  svg {
    height: 1em;
    width: 1em;
    stroke: var(--primary-color);
    stroke-width: 4;
  }

  h2 {
    margin-top: 2em;
  }

  .columns {
    align-items: flex-start;
  }

  ol {
    margin-inline-start: 2em;
    margin-block-end: 2em;
  }

  .subtitle {
    font-size: 1.2em;
    font-weight: bold;
  }

  .left-align {
    text-align: left;
  }

  .right-align {
    text-align: right;
  }
</style>